/* 全局样式 */
html,
body {
  width: 100vw;
  height: 100vh;
  background: #f5f5f9;
}
.weui-switch,
.weui-switch-cp__box {
  width: 42px;
  height: 22px;
}
.weui-switch-cp__box:before,
.weui-switch:before {
  width: 40px;
  height: 20px;
}

.weui-switch-cp__box:after,
.weui-switch:after {
  width: 20px;
  height: 20px;
}
.mainTextColor {
  color: #333333;
}
.mainFontColor {
  color: #ff0000;
}
.mainBgColor {
  background: #ff9933;
  color: #fff;
}
.flex {
  display: flex;
  align-items: center;
}
.flexStart {
  justify-content: flex-start;
}
.flexCenter {
  justify-content: center;
}
.flexEnd {
  justify-content: flex-end;
}
.flexAround {
  justify-content: space-around;
}
.flexBetween {
  justify-content: space-between;
}

.noData {
  margin-top: 200px;
  text-align: center;
}
.noData p {
  font-size: 16px;
  color: #999;
}
.footerTabbar {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}
.footerTabbar .weui-tabbar__label {
  color: #333;
}
.footerTabbar .weui-tabbar__item.weui-bar__item_on .weui-tabbar__label {
  color: #ff9933;
}

/* 首页 */
.homePage {
  color: #333333;
}
.homePage .swiper-container {
  width: 100%;
  height: 160px;
}
.homePage .swiper-slide {
  position: relative;
}
.homePage .swiper-slide .bgImg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.homePage .swiper-slide .textBox {
  position: absolute;
  font-size: 20px;
  color: #fff;
  top: 20px;
  left: 20px;
}
.homePage .content {
  margin-bottom: 100px;
}
.homePage .poster,
.homePage .shopkeeper,
.homePage .data {
  padding: 10px 0;
  background: #fff;
  margin: 10px 0;
}

.homePage .poster {
  padding: 10px 0 20px 0;
  background: #fff;
  margin: 10px 0;
}
.poster .weui-flex {
  padding: 0 3vw;
}
.homePage .title {
  font-size: 12px;
  padding: 0px 6px;
  margin-left: 10px;
  border-left: 8px solid #333333;
}
.poster .weui-flex__item {
  text-align: left;
  position: relative;
  height: 15.6vw;
  margin: 10px 0.8vw;
}
.poster .bgImg {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px;
}
.homePage .boxText {
  position: absolute;
  color: #fff;
  padding: 0.5rem 0 0 0.5rem;
}
.homePage .boxText p:first-child {
  font-size: 1rem;
}
.homePage .boxText p:last-child {
  font-size: 0.9rem;
}
.homePage .circle {
  width: 18px;
  height: 18px;
  text-align: center;
  position: absolute;
  top: 5px;
  right: 0.5rem;
  font-size: 10px;
  background: #ff0000;
  border-radius: 18px;
  color: #fff;
  display: none;
}

.shopkeeper .weui-flex__item,
.data .weui-flex__item {
  font-size: 12px;
  text-align: center;
  margin: 10px 0.8vw;
}
.shopkeeper .weui-flex__item img,
.data .weui-flex__item img{
	width: 60px;
}

/* 今日单关 */
.todayPage .content {
  align-items: flex-start;
  align-content: flex-start;
  /* display: none; */
}
.todayPage .leftBox {
  min-width: 90px;
  height: 600px;
  background: #fff;
  position: fixed;
 left: 0;
 top: 0;
}
.todayPage .leftBox .item {
  width: 100%;
  height: 38px;
  line-height: 38px;
  text-align: center;
  color: #999999;
  font-size: 14px;
  border-bottom: 1px solid #f2f2f2;
}
.todayPage .leftBox .active {
  color: #ff9933;
  font-weight: 600;
}
.todayPage .rightBox {
  width: 100%;
  margin: 10px;
  margin-left: 90px;
}
.todayPage .rightBox .box {
  width: 100%;
  flex-wrap: wrap;
  flex-grow: 1;
}
.todayPage .rightBox .item {
  width: 42%;
  text-align: center;
  position: relative;
  border-radius: 10px;
  margin: 0 4% 10px 4%;
  height: 180px;
}
.todayPage .rightBox .img {
  width: 100%;
  height: auto;
}
.todayPage .rightBox .footer {
  width: 100%;
  height: 36px;
  line-height: 36px;
  font-size: 14px;
  color: #fff;
  background: #333333;
  opacity: 0.8;
  position: absolute;
  bottom: 0px;
  left: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* 今日单关-预览放大后 */
.todayPreview {
  display: none;
  background: #2E0796;
}
.todayPreview .bannerImg {
  width: 100%;
  height: auto;
}
.todayPreview .box {
  padding: 0 20px;
  margin-top: -8px;
  margin-top: 5px;
}
.todayPreview .box .item {
  text-align: center;
  border-radius: 20px;
  background: #fff;
  margin-bottom: 10px;
}
.todayPreview .box .title {
  width: 50%;
  margin: 0 25%;
  height: 36px;
  font-size: 1.1rem;;
  color: #fff;
  background: #0066ff;
  border-bottom-left-radius: 34px;
  border-bottom-right-radius: 34px;
}
.todayPreview .header {
  padding: 5px 3vw;
}
.todayPreview .headerImg {
  width: 45px;
  height: 45px;
}
.todayPreview .textBox div:first-child {
  font-size: 5.5vw;
}
.todayPreview .textBox div:last-child {
  font-size: 12px;
  color: #999999;
}
.todayPreview .priceBox {
  font-size: 6vw;
  font-weight: 600;
  margin-left: 3vw;
}
.todayPreview .priceBox .item {
  margin-bottom: 5px;
}
.todayPreview .priceBox .award {
  width: 32vw;
  height: 32px;
  line-height: 32px;
  border-radius: 32px;
  font-size: 16px;
  color: #fff;
  background: #ff0000;
}
.todayPreview .bugNum {
  flex-direction: column;
  width: 13vw;
  height: 32px;
  font-size: 9px;
  background: #0066ff;
  color: #fff;
  border-top-left-radius: 32px;
  border-bottom-left-radius: 32px;
  font-weight: 500;
  padding: 0 3px;
}
.todayPreview .footer {
  font-size: 14px;
  color: #999;
  margin-top: -5px;
}
.todayPreview .footerBox {
  margin: 0 25px;
  font-size: 7vw;
  line-height: 9vw;
  color: #fff;
  padding: 15px 0;
}
.todayPreview .empty {
  width: 18vw;
  height: 18vw;
  background: #fff;
  border: 2px solid #fff;
}

/* 焦点赛事 */
.focusPage {
}
.focusPage .template {
  flex-wrap: wrap;
  margin-bottom: 43px;
}
.focusPage .addBtn {
  width: 92%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 13px;
  color: #333;
  border-radius: 40px;
  background: #fff;
  margin: 15px 4%;
}
.focusPage .template .item {
  width: 42%;
  text-align: center;
  position: relative;
  border-radius: 10px;
  margin: 0 4% 10px 4%;
  height: 250px;
}
.focusPage .template .img {
  width: 100%;
  height: auto;
}
.focusPage .template .footer {
  width: 100%;
  height: 30px;
  line-height: 30px;
  font-size: 13px;
  color: #fff;
  background: #333333;
  opacity: 0.8;
  position: absolute;
  bottom: 0px;
  left: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.focusPage .footerBtn {
  width: 100%;
  font-size: 14px;
  background: #ff9900;
  color: #fff;
  height: 43px;
  line-height: 43px;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
}
/* 焦点赛事-预览放大后 */
.focusPreview {
  /* display: none;  */
  color: #000;
  background: #162AEB;
}
.focusPreview .bannerImg {
  width: 100%;
  height: auto;
      margin-bottom: 5px;
}
.focusPreview .box {
  padding: 0 20px;
  margin-top: -8px;
}
.focusPreview .box .item {
  text-align: center;
  background: #fff;
  border-radius: 20px;
  /* margin-top: 5px; */
}
.focusPreview .box .title {
  width: 50%;
  margin: 0 25%;
  height: 36px;
  font-size: 22px;
  color: #fff;
  background: #ff0000;
  border-bottom-left-radius: 34px;
  border-bottom-right-radius: 34px;
}
.focusPreview .header {
  padding: 5px 3vw;
}
.focusPreview .headerImg {
  width: 40px;
  height: 40px;
}
.focusPreview .textBox div:first-child {
  font-size: 5.5vw;
}
.focusPreview .textBox div:last-child {
  font-size: 12px;
  color: #999999;
}
.focusPreview .tableBox {
  text-align: center;
  font-size: 3vw;
  background: #fff;
  padding: 0 15px;
}
.focusPreview .tableBox .gray {
  color: #999;
}
.focusPreview .tableBox .item {
  height: 100%;
  align-content: stretch;
}
.focusPreview .tableBox .item .left,
.focusPreview .tableBox .item .right,
.focusPreview .tableBox .item .center {
  display: flex;
  justify-content: center;
}
.focusPreview .tableBox .item .left,
.focusPreview .tableBox .item .right {
  width: 6%;
  height: 100%;
  color: #fff;
  flex-direction: column;
  flex-grow: 1;
}
.focusPreview .tableBox .item .center {
  width: 88%;
  height: 100%;
  flex-direction: column;
  align-content: stretch;
}
/* 如果改变行数，修改 .center 高度 */
.focusPreview .firstBox .item .center {
  height: 62px;
}
.focusPreview .secondBox .item .center {
  height: 198px;
}
.focusPreview .thirdlyBox .item .center {
  height: 78px;
}
.focusPreview .fourBox .item .center {
  height: 78px;
}
.focusPreview .tableBox .td {
  width: 100%;
  height:100%;
  flex-grow: 1;
  display: flex;
  justify-content: center;
}
.focusPreview .tableBox .td .tr {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 1px solid #f0f0f0;
  border-right: 1px solid #f0f0f0;
}
/* 非单 */
.focusPreview .firstBox {
  height: 64px;
}
.focusPreview .noDan {
  border: 1px solid #797979;
}
.focusPreview .firstBox .center .th {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #f0f0f0;
  border-right: 1px solid #f0f0f0;
}
.focusPreview .firstBox .center .th span {
  margin-left: 5px;
}
.focusPreview .left div {
  height: 50%;
}
.focusPreview .firstBox .left div:first-child {
  background: #ccc;
  flex-direction: column;
}
.focusPreview .firstBox .left div:last-child {
  background: #ff9700;
}
.focusPreview .noDan .right {
  background: #666;
}

/* 单 */
.focusPreview .isDan {
  /* display: none; */
  border: none;
  margin-bottom: 8px;
}
.focusPreview .isDan .tr.dan .right div {
  background: #ff0000;
}
.focusPreview .isDan .item .tr.dan {
  border: 1px solid #ff0000;
}
.focusPreview .isDan .item .tr.nodan {
  border-left: 1px solid #ff9700;
}
.focusPreview .isDan .tr {
  height: 50%;
}
.focusPreview .isDan .left div,
.focusPreview .isDan .right div {
  height: 100%;
}
.focusPreview .isDan .tr .center {
  height: 31px;
}

.focusPreview .secondBox {
  height: 200px;
  border: 1px solid red;
  margin: 5px 0;
}
.focusPreview .secondBox .left {
  background: #ffcc33;
}
.focusPreview .secondBox .right {
  background: #ff0000;
}
.focusPreview .tableBox .secondBox .tr {
  width: 41px;
}

.focusPreview .thirdlyBox {
  height: 80px;
  border: 1px solid red;
  margin: 5px 0;
}
.focusPreview .thirdlyBox .left {
  background: #6699ff;
}
.focusPreview .thirdlyBox .right {
  background: #ff0000;
}

.focusPreview .fourBox {
  height: 80px;
  border: 1px solid red;
  margin: 5px 0;
}
.focusPreview .fourBox .left {
  background: #9c27b0;
}
.focusPreview .fourBox .right {
  background: #ff0000;
}

.focusPreview .footer {
  font-size: 14px;
  color: #999;
  padding-bottom: 10px;
}
.focusPreview .footerBox .text{
	color: #fff;
}
.focusPreview .footerBox {
  margin: 0 25px;
  font-size: 7vw;
  line-height: 9vw;
  color: #fff;
  padding: 15px 0;
  /* font-weight: 600; */
}
.focusPreview .empty {
  width: 18vw;
  height: 18vw;
  background: #fff;
  border: 2px solid #fff;
}

/* 选择方案-添加焦点赛事 */
.addFocusPage {
  height: 100%;
  color: #333;
}
.addFocusPage .box {
  margin-bottom: 3px;
}
.addFocusPage .content {
  margin-bottom: 43px;
  padding-bottom: 10px;
  min-height: 100%;
}
.addFocusPage .total {
  padding: 0 5%;
  font-size: 11px;
  background: #f2f2f2;
}
.addFocusPage .total .left > div {
  padding: 10px 3px;
}
.addFocusPage .total .right {
  position: relative;
}
.addFocusPage .total .top {
  content: " ";
  display: inline-block;
  height: 8px;
  width: 8px;
  border-width: 2px 0 0 2px;
  border-color: #333;
  border-style: solid;
  -webkit-transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
  transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
  position: relative;
  top: -2px;
  position: absolute;
  top: 50%;
  margin-top: -4px;
  right: 0;
}
.addFocusPage .total .bottom {
  content: " ";
  display: inline-block;
  height: 8px;
  width: 8px;
  border-width: 0 2px 2px 0;
  border-color: #333;
  border-style: solid;
  -webkit-transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
  transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
  position: relative;
  top: -2px;
  position: absolute;
  top: 50%;
  margin-top: -8px;
  right: 0;
  display: none;
}
.addFocusPage .scheme {
  width: 100%;
  text-align: center;
  /* background: #d7d7d7; */
  display: none;
}
.addFocusPage .scheme .item {
  margin: 10px 5%;
  font-size: 14px;
  background: #fff;
  padding: 6px 15px;
  border-radius: 5px;
}
.addFocusPage .scheme .active {
  background: #ff9933;
  color: #fff;
}
.addFocusPage .scheme .item div:nth-child(2),
.addFocusPage .scheme .item div:nth-child(4) {
  font-weight: 600;
}
.addFocusPage .scheme .item div:nth-child(3) {
  color: #999;
}
.addFocusPage .scheme .item.active div:nth-child(3) {
  color: #fff;
}
.addFocusPage .active .top {
  display: none;
}
.addFocusPage .active .bottom {
  display: block;
}
.addFocusPage .active .scheme {
  display: block;
}
.addFocusPage .footerBtn {
  width: 100%;
  font-size: 16px;
  background: #ff9900;
  color: #fff;
  height: 50px;
  line-height: 50px;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
}

/* 日常需要的 */
.needPage .content {
  align-items: flex-start;
  align-content: flex-start;
  /* display: none; */
}
.needPage .leftBox {
  min-width: 90px;
  height: 600px;
  background: #fff;
  position: fixed;
 left: 0;
 top: 0;
}
.needPage .leftBox .item {
  width: 100%;
  height: 38px;
  line-height: 38px;
  margin-left: 10px;
  text-align: left;
  color: #999999;
  font-size: 14px;
  border-bottom: 1px solid #f2f2f2;
}
.needPage .leftBox .item span{
	position: absolute;
    margin-left: 2px;
}
.needPage .leftBox .bo-nav{
	position: fixed;
    bottom: 0;
    left: 0.5rem;
}
.needPage .leftBox .item-bottom {
  width: 100%;
  height: 38px;
  line-height: 38px;
  text-align: center;
  color: #1681E0;
  font-size: 12px;
  border-bottom: 1px solid #f2f2f2;
}
.needPage .leftBox .active {
  color: #ff9933;
  font-weight: 600;
}
.needPage .rightBox {
  width: 100%;
  margin: 10px;
  margin-left: 90px;
}
.needPage .rightBox .box {
  width: 100%;
  flex-wrap: wrap;
  flex-grow: 1;
}
.needPage .rightBox .item {
  width: 42%;
  text-align: center;
  position: relative;
  border-radius: 10px;
  margin: 0 4% 10px 4%;
  height: 180px;
}
.needPage .rightBox .img {
  width: 100%;
  height: auto;
}
.needPage .rightBox .footer {
  width: 100%;
  height: 36px;
  line-height: 36px;
  font-size: 14px;
  color: #fff;
  background: #333333;
  opacity: 0.8;
  position: absolute;
  bottom: 0px;
  left: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* 今日模式分享 */
.todaySharePage {
  width: 100%;
  height: 100%;
}
.todaySharePage .banner {
  padding: 10px 0;
  background: #1b43a5;
}
.todaySharePage .bannerImg {
  width: 100%;
  /* height: 17vh; */
}
.todaySharePage .content {
 /*  min-height: 73vh; */
  padding: 5px 5vw 2vh 5vw;
  background: url("../../img/ban/todayShareBG.jpeg") no-repeat;
  background-size: cover;
  margin-top: -1px;
}

.todaySharePage  .box .sub_title {
  color: #ff0000;
  font-size: 16px;
  padding: 5px 15px;
  border-radius: 20px;
  background: #f0f0f0;
  margin-top: 10px;
}

.bg2 {
  /* display: none; */
}
.todaySharePage .box {
  background: #fff;
  text-align: center;
  border-radius: 10px;
}
.todaySharePage .box .title {
  width: 50%;
  margin: 0 25%;
  height: 36px;
  font-size: 22px;
  color: #fff;
  background: #ff0000;
  border-bottom-left-radius: 34px;
  border-bottom-right-radius: 34px;
}
.todaySharePage .box .item {
  text-align: center;
  padding: 10px;
}
.todaySharePage .header {
  padding: 5px 0;
}
.todaySharePage .headerImg {
  width: 40px;
  height: 40px;
}
.todaySharePage .textBox div:first-child {
  font-size: 5.5vw;
}
.todaySharePage .textBox div:last-child {
  font-size: 12px;
  color: #999999;
}
.todaySharePage .result {
  font-size: 18px;
  color: #ff0000;
  font-weight: 600;
  border: 1px dashed #ccc;
  padding: 4px 0;
  border-radius: 30px;
  margin: 0 3vw;
}
.todaySharePage .result span {
  color: #999;
  margin-left: 8px;
}
.todaySharePage .tenDay,
.todaySharePage .tenDay .detail {
  padding: 15px 0 5px 0;
}
.todaySharePage .tenDay .titleText {
  width: 125px;
  font-size: 16px;
  color: #fff;
  background: #ff0000;
  padding: 3px 5px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}
.todaySharePage .tenDay .detail > div {
  width: 27px;
  height: 27px;
  font-size: 13px;
  font-weight: 600;
  border-radius: 43px;
  background: #ff0000;
  color: #fff;
  line-height: 27px;
  text-align: center;
}
.todaySharePage .tenDay .detail .black {
  background: #000;
}
.todaySharePage .footerBox {
  font-size: 6vw;
  line-height: 9vw;
  background: #fff;
  border-radius: 10px;
  margin: 10px 0;
  padding: 10px;
  margin-bottom: 43px;
}
.todaySharePage .qrcode {
  width: 23vw;
  height: 23vw;
}
.todaySharePage .footerBtn {
  width: 100%;
  font-size: 14px;
  background: #ff9900;
  color: #fff;
  height: 50px;
  line-height: 50px;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
}

/* 合买海报 */
.togetherBuyPage .content {
  align-items: flex-start;
  align-content: flex-start;
}
.togetherBuyPage .leftBox {
  min-width: 90px;
  height: 600px;
  background: #fff;
  left: 0;
  top: 0;
  position: fixed;
}
.togetherBuyPage .leftBox .item {
  width: 100%;
  height: 38px;
  line-height: 38px;
  text-align: center;
  color: #999999;
  font-size: 14px;
  border-bottom: 1px solid #f2f2f2;
}
.togetherBuyPage .leftBox .active {
  color: #ff9933;
  font-weight: 600;
}
.togetherBuyPage .rightBox {
  width: 100%;
  margin: 10px;
  margin-left: 90px;
}
.togetherBuyPage .rightBox .box {
  width: 100%;
  flex-wrap: wrap;
  flex-grow: 1;
}
.togetherBuyPage .rightBox .item {
  width: 42%;
  text-align: center;
  position: relative;
  border-radius: 10px;
  margin: 0 4% 10px 4%;
  height: 180px;
}
.togetherBuyPage .rightBox .img {
  width: 100%;
  height: auto;
}
.togetherBuyPage .rightBox .footer {
  width: 100%;
  height: 33px;
  line-height: 33px;
  font-size: 14px;
  color: #fff;
  background: #333333;
  opacity: 0.8;
  position: absolute;
  bottom: 0px;
  left: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* 数据统计 */
.dataStatisticsPage {
  height: 100%;
  color: #333;
}
.dataStatisticsPage .tabs {
}
.dataStatisticsPage .tabs .navbar {
  background: #fff;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
}
.dataStatisticsPage .tabs .navbar .item {
  width: 25%;
  text-align: center;
  font-size: 13px;
  height: 37px;
  line-height: 37px;
  border-right: 1px solid #ccc;
}
.dataStatisticsPage .tabs .navbar .item:last-child {
  border: none;
}
.dataStatisticsPage .tabs .navbar .active {
  background: #ff9933;
  color: #fff;
}
.dataStatisticsPage .tabs .query {
  margin-top: 10px;
  background: #fff;
  padding: 10px 5%;
  border-bottom: 1px solid #ccc;
  height: 30px;
}
.dataStatisticsPage .tabs .query .queryBtn {
  font-size: 13px;
  padding: 0 15px;
  border-radius: 20px;
  flex-shrink: 0;
  height: 100%;
  line-height: 30px;
}
.dataStatisticsPage .tabs .query .weui-input {
  width: 100px;
  margin-left: 15px;
}
.dataStatisticsPage .tabs .dateBox {
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 100%;
}
.dataStatisticsPage .tabs .dateBox div {
  margin-right: 0.78em;
}
.dataStatisticsPage .content {
  background: #fff;
  font-size: 14px;
  padding-bottom: 10px;
}
.dataStatisticsPage #tab1 .header {
  padding: 10px 4%;
}
.dataStatisticsPage .content .title {
  
}
.dataStatisticsPage #tab1 .header .select {
  font-size: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
}
.dataStatisticsPage .content .header .toBottom {
  width: 0; 
  height: 0;
  border-width: 7px;
  border-style: solid;
  border-color:#999 transparent transparent transparent;
  margin: 7px 7px 0 0;
 }
.dataStatisticsPage .content .header .weui-select {
  height: 25px;
  line-height: 25px;
}
.dataStatisticsPage .content .data {
  flex-wrap: wrap;
}
.dataStatisticsPage #tab1 .data {
  padding: 0 4%;
}
.dataStatisticsPage #tab1 .data > div {
  width: 50%;
  flex-shrink: 0;
}
.dataStatisticsPage .content .item > div {
  text-align: center;
  padding: 2px 0;
}
.dataStatisticsPage #tab2,
.dataStatisticsPage #tab3,
.dataStatisticsPage #tab4 {
  display: none;
}
.dataStatisticsPage .table .header {
  border-bottom: 1px solid #ccc;
  margin-bottom: 5px;
}
.dataStatisticsPage .table .item > div:nth-child(1) {
  width: 30%;
}
.dataStatisticsPage .table .item > div:nth-child(2) {
  width: 20%;
}
.dataStatisticsPage .table .item > div:nth-child(3) {
  width: 35%;
}
.dataStatisticsPage .table .item > div:nth-child(4) {
  width: 15%;
}
.dataStatisticsPage #tab4 .item > div:nth-child(1) {
  width: 30%;
}
.dataStatisticsPage #tab4 .item > div:nth-child(2) {
  width: 14%;
}
.dataStatisticsPage #tab4 .item > div:nth-child(3) {
  width: 14%;
}
.dataStatisticsPage #tab4 .item > div:nth-child(4) {
  width: 14%;
}
.dataStatisticsPage #tab4 .item > div:nth-child(5) {
  width: 14%;
}
.dataStatisticsPage .table .item .status {
  color: #006600;
}
.dataStatisticsPage .table .item .error {
  color: #ff0000;
}

/* 彩店合作-合作列表 */
.cooperateListPage {
}
.cooperateListPage .content .item {
  margin: 10px 3%;
  height: 80px;
  background-size: 100%;
  color: #fff;
  padding: 15px;
  border-radius: 20px;
  font-size: 14px;
}
.cooperateListPage .content .item .title {
  font-size: 24px;
}

/* 彩店合作-发布活动 */
.releaseListPage {
  color: #333;
}
.releaseListPage .navBox {
  text-align: center;
  margin: 15px 3%;
  height: 45px;
}
.releaseListPage .navBox > div {
  height: 100%;
  line-height: 45px;
  border-radius: 10px;
  font-size: 13px;
}
.releaseListPage .navBox > div:first-child {
  width: 70%;
}
.releaseListPage .navBox > div:last-child {
  width: 26%;
  background: #fff;
}
.releaseListPage .content .item {
  margin: 10px 3%;
  padding: 15px;
  background: #fff;
  border-radius: 20px;
  font-size: 14px;
}
.releaseListPage .content .header {
  font-size: 16px;
}
/* .releaseListPage .content .header>div:last-child {
  font-size: 14px;
} */
.releaseListPage .content .date {
  font-size: 12px;
  color: #999999;
  padding: 5px 0;
}
.releaseListPage .content .text {
  color: #666;
}
.releaseListPage .content .eyeBox {
  text-align: right;
  color: #999;
 /*  margin-top: -15px; */
}
.releaseListPage .content .eyeBox img {
  margin-right: 5px;
  width: 20px;
}

/* 我发布的 */
.myReleasePage {
  color: #333;
}
.myReleasePage .content .item {
  margin: 10px 3%;
  padding: 15px;
  background: #fff;
  border-radius: 20px;
  font-size: 14px;
}
.myReleasePage .content .header {
  font-size: 16px;
}
.myReleasePage .content .header > div:last-child {
  font-size: 14px;
}
.myReleasePage .content .date {
  font-size: 12px;
  color: #999999;
  padding: 5px 0;
}
.myReleasePage .content .text {
  color: #666;
}
.myReleasePage .content .eyeBox {
  text-align: right;
  color: #999;
  /* margin-top: -15px; */
}
.myReleasePage .content .eyeBox img {
  margin-right: 5px;
}

/* 发布活动 */
.releasePage .weui-cells {
  font-size: 13px;
  background: none;
  margin-top: 0;
}
.releasePage .weui-cell {
  background: #fff;
}
.releasePage .titleBox {
  margin: 10px 0;
}
.releasePage .weui-cell:before {
  border: none;
}
.weui-uploader__file {
  position: relative;
}
.releasePage .weui-uploader__file {
  width: 60px;
  height: 60px;
}
.releasePage .weui-uploader__file > img {
  width: 90%;
  height: 90%;
  margin-top: 8px;
}
.releasePage .weui-uploader__input-box {
  margin-top: 8px;
  width: 54px;
  height: 54px;
}
.weui-uploader__file span {
  position: absolute;
  width: 18px;
  height: 18px;
  line-height: 18px;
  border-radius: 10px;
  background: red;
  color: #fff;
  top: 0;
  right: 0;
  text-align: center;
}
.releasePage .footerBox {
  margin: 20px 5% 10px 5%;
  border-radius: 10px;
  text-align: center;
  height: 45px;
  line-height: 45px;
}
.releasePage .tip {
  margin: 0 5%;
  color: #999;
  font-size: 14px;
}

/* 活动详情 */
.releaseDetailPage {
  color: #333;
}
.releaseDetailPage .content .item {
  padding: 15px 20px;
  background: #fff;
  font-size: 14px;
}
.releaseDetailPage .content .header {
  font-size: 16px;
}
.releaseDetailPage .content .date {
  font-size: 12px;
  color: #999999;
  padding: 5px 0;
}
.releaseDetailPage .content .text {
  color: #666;
}
.releaseDetailPage .content img {
  width: 100%;
  height: 100%;
}
.releaseDetailPage .footerBtn {
  width: 100%;
  font-size: 14px;
  background: #ff9900;
  color: #fff;
  height: 43px;
  line-height: 43px;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
}
.releaseDetailPage .weui-dialog__bd {
  font-size: 14px;
  padding: 0 2em 0.8em;
}
.releaseDetailPage .addWx {
  margin: 5px 0 10px 0;
}
.releaseDetailPage .tel {
  font-size: 14px;
  text-align: left;
}
.releaseDetailPage .tel span {
  color: #333;
  margin-right: 10px;
}



.home_footer {
    background: #fff;
    padding: 0.1758rem 0 0.0879rem;
    color: #000;
}

.footer_btn {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 60;
}

.text_center {
    text-align: center;
}
.home_footer .weui-flex__item img {
    width: 27px;
}

.home_footer .checked {
    color: #ff9900;
}

.lq_dg_sc .box{
	    padding: 0 10px;
}
.lq_dg_sc .item{
	height: 60px;
	margin-top: 10px;
	border-radius:5px !important; 
}
.lq_dg_sc .item .left{
	width: 15%;
    text-align: center;
    /* float: left; */
    font-size: 12px;
    margin: 11px 0px;
}

.lq_dg_sc .item .center{
	width: 30%;
    text-align: center;
    /* float: left; */
    font-size: 12px;
}

.lq_dg_sc .item .center .team{
	font-weight: 600;
    font-size: 12px;
}

.lq_dg_sc .item .right{
	width: 55%;
    text-align: center;
    /* float: left; */
}

.lq_dg_sc .item .right .odd_li{
	width: 50%;
    /* float: left; */
}

.lq_dg_sc .item .right .odd_li .pk{
	width: 30%;
    /* float: left; */
    line-height: 60px;
    font-size: 12px;
    color:  #ff9900;
}
.lq_dg_sc .item .right .odd_li .bt{
	width: 70%;
    /* float: left; */
    font-size: 12px;
    margin: 11px 0;
}

.lq_dg_sc .item .right .odd_li .bt .bet{
	margin-left: 5px;
	font-weight: 600;
	color: #ff0000;
}



/* 新加表格 */
.focusPreview em {
  font-style: inherit;
}
.focusPreview table{
  width:100%;
  text-align: center;
  border-spacing: 0;
  font-size:12px;
}
.focusPreview table tbody td{
  border-top:0.0267rem solid #ccc;
  border-right:0.0267rem solid #d9d9d9;
  padding:0.08rem 0;
}
.focusPreview table tbody tr:last-child td{
  border-bottom:0.0267rem solid #d9d9d9;
}
.table0,.table1,.table2,.table3,.table4{
  margin-bottom:0.2667rem;
}
.table0 tbody tr td{
  width: 44%;
}
.table1 tbody tr td{
  width: 29.34%;
}
.table2 tbody tr td{
  width: 12.6%;
}
.table3 tbody tr td{
  width: 22%;
}
.table4 tbody tr td{
  width: 17.6%;
}
.focusPreview table tbody td:first-child,
.focusPreview table tbody td:last-child{
  width: 6%;
}
.focusPreview .lastLessTop {
  padding-right: 6%;
  margin-bottom: 0rem;
}
.focusPreview .lastLessBottom tbody td:last-child {
  width: 44%;
}
.focusPreview .lastLessBottom {
  padding-right: 6%;
  margin-top: -0.2667rem;;
}
.focusPreview .lastLessTop tbody td:last-child {
  width: 44%;
}
.focusPreview table tbody td .font_size_14{
  font-size:12px;
}
.focusPreview table tbody .line_height_less {
  line-height: 0.9rem;
  border-right: none;
}
.focusPreview table tbody td em{
  color:#999;
}
.focusPreview .gray_bg2{
  background:#ccc;
  color:#fff;
   border-right: none;
}
.focusPreview .green_bg{
  background:#00CC66;
  color:#fff;
}
.focusPreview .purple_bg{
  background:#6699FF;
  color:#fff;
}
.focusPreview .yellow_bg{
  background:#FFCC33;
  color:#fff;
}
.focusPreview .yellow_bg2{
  background:#ff9800;
  color:#fff;
  border-right: none;
}
.focusPreview .zs_bg{
  background:#9c27b0;
  color:#fff;
}
.focusPreview .blue_bg{
  background:#0099FF;
  color:#fff;
}
.focusPreview .red_bg{
  border:1px solid #ff0000;
}
.focusPreview .red_bg tr:first-child td:last-child{
  background:#ff0000;
  border: 1px solid #ff0000;
  color:#fff;
}.focusPreview .gray_bg{
  border:1px solid #000;
}
.focusPreview .gray_bg tr:first-child td:last-child{
  border: 1px solid #666;
  background:#666;
  color:#fff;
}
.no_bord_td{
	border: none !important;
}
.no_red_bg .zhufu{
	border-left: 1px solid #FFCC33;
}
/* 新加表格 */

/*海报页序号*/
.banner_list_idx{
	width:18px;
	 height:18px;
	 text-align:center;
	 position:absolute;
	 top:5px;
	 right:0.1rem;
	 font-size:10px;
	 background:#FF9933;
	 border-radius:18px;
	 color:#fff;
	 font-weight: 600;
}
/*海报免费标志*/
.banner_mf{
	display: block;
    right: 0.1rem;
    background: #2196F3;
    top: 5px;
    width: 18px;
    height: 18px;
    text-align: center;
    position: absolute;
    font-size: 10px;
    border-radius: 18px;
    color: #fff;
    font-weight: 600;
}


/* 版本-引流助手 */
/* 活动列表 */
.homePage .drainage {
  margin: 0 3vw;
  text-align: center;
}
.homePage .drainage .home_drainage {
  width: 100%;
}

.drainageListPage {
  width: 100vw;
  height: 100vh;
  background: #f2f2f2;
}
.drainageListPage .tabContent,
.drainageListPage .searchContent {
  height: 100%;
}
.drainageListPage .tabContent .content,
.drainageListPage .searchContent .content{
  margin-top: 44px;
}
.drainageListPage .searchContent {
  display: none;
}
.drainageListPage .navBar {
  width: 100vw;
  background: #fff;
  margin-bottom: 10px;
  height: 43px;
  position: fixed;
  top: 0;
  left: 0;
}
.drainageListPage .searchBox {
  background: #fff;
  margin-bottom: 10px;
  height: 43px;
  align-items: center;
  padding: 0 10px;
}
.drainageListPage .tabBox {
  height: 43px;
  align-items: center;
  padding: 0 10px;
}
.drainageListPage .tab {
  width: 90%;
  flex-wrap: nowrap;
  overflow-x: auto;
}
.drainageListPage .searchIcon {
  width: 10%;
}
.drainageListPage .tab .item {
  color: #999;
  font-size: 14px;
  flex-shrink: 0;
  margin-right: 10px;
}
.drainageListPage .tab .active {
  color: #333;
  font-size: 16px;
  font-weight: 600;
}
.drainageListPage .navBar .search {
  font-size: 14px;
  flex-grow: 1;
}
.drainageListPage .navBar .search .searchInput {
  background: #f2f2f2;
  flex-grow: 2;
  text-align: center;
  height: 33px;
  line-height: 33px;
  border-radius: 5px;
  margin-right: 5px;
}
.drainageListPage .navBar .search .btn {
  width: 63px;
  height: 25px;
  line-height: 25px;
  font-size: 14px;
  text-align: center;
  border-radius: 35px;
}
/* .drainageListPage .content {
  margin-top: 50px;
} */
.drainageListPage .list .item {
  background: #fff;
  height: 86px;
  border-bottom: 1px solid #f3f3f3;
  padding: 0 10px;
  font-size: 14px;
}
.drainageListPage .list .title {
  width: 58%;
}
.drainageListPage .list .articleImg {
  width: 63px;
  height: 63px;
}
.drainageListPage .empty {
  width: 100%;
  font-size: 16px;
  color: #999;
  text-align: center;
  padding-top: 200px;
  /* display: none; */
}
.drainageListPage .imgBox {
  margin-bottom: 20px;
}
.drainageListPage .footerBtn {
  width: 100%;
  font-size: 14px;
  background: #ff9900;
  color: #fff;
  height: 43px;
  line-height: 43px;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
}
.drainageListPage .goBack {
  position: absolute;
  bottom: 100px;
  right: 25px;
  background: #fff;
  font-size: 12px;
  border-radius: 20px;
  border: 1px solid #ccc;
  color: #ff0000;
  padding: 7px 5px;
}
.drainageListPage .full {
  height: 50px;
}

/* 投诉 */
.complainPage .save .weui-btn {
  height: 40px;
  line-height: 40px;
  font-size: 14px;
}

/* 看过我的 */
.readMyListPage .title {
  background: #fff;
  font-size: 16px;
  color: #333;
  height: 53px;
  line-height: 53px;
  margin: 10px 0;
  padding: 0 20px;
}
.readMyListPage .list .item {
  background: #fff;
  border-bottom: 1px solid #f3f3f3;
  padding: 0 15px;
  height: 53px;
  font-size: 14px;
}
.readMyListPage .list .item .name {
  flex-grow: 2;
  margin-left: 10px;
}
.readMyListPage .list .item .phone {
  font-size: 12px;
}
.readMyListPage .list .item .phone,
.readMyListPage .list .item .time {
  color: #666666;
}

/* 分享 */

.drainageSharePage .header {
  background: #fff;
  border-radius: 10px;
  margin: 10px;
}
.drainageSharePage .header .top {
  padding: 10px;
}
.drainageSharePage .header .top img{
	border-radius: 50%;
	width: 63px;
	height: 63px !important;
}
.drainageSharePage .header .right {
  width: 70%;
  margin-left: 10px;
}
.drainageSharePage .header .name {
  color: #333;
  font-size: 16px;
  margin-bottom: 5px;
}
.drainageSharePage .header .infoBox div {
  font-size: 13px;
  background: #00cc00;
  color: #fff;
  border-radius: 20px;
  padding: 2px 15px;
}
.drainageSharePage .header .infoBox div:FIRST-CHILD{
	margin-right: 10%;
}
.drainageSharePage .header .infoBox div:LAST-CHILD{
	margin-left: 10%;
}
.drainageSharePage .bottom {
  padding: 8px 0;
  border-top: 1px dashed #ccc;
}
.drainageSharePage .editText {
  font-size: 14px;
  color: #999;
  margin: 0 10px;
}
/* .drainageSharePage #noEdit {
  font-size: 14px;
  color: #999;
  margin-left: 10px;
} */

.drainageSharePage #editDialog .weui-dialog {
  padding: 0 10px;
}
.drainageSharePage #editDialog .weui-cell {
  border: 1px solid #e5e5e5;
  font-size: 14px;
}
.drainageSharePage #editDialog .btn {
  width: 100%;
  font-size: 14px;
  background: #ff9900;
  color: #fff;
  height: 43px;
  line-height: 43px;
  text-align: center;
  border-radius: 5px;
  margin: 10px 0;
}
.drainageSharePage .shareDialog {
  width: 100%;
  height: 100%;
}
.drainageSharePage #shareDialog .dialog {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 5000;
  top: 0;
  left: 0;
}
.drainageSharePage #shareDialog img {
  position: absolute;
  top: 0;
  right: 0;
}
.drainageSharePage .footerBtn {
  width: 100%;
  font-size: 14px;
  background: #ff9900;
  color: #fff;
  height: 43px;
  line-height: 43px;
  text-align: center;
  position: fixed;
  bottom: 0;
  right: 0;
}
.drainageSharePage .noEditFooter {
  /* position: fixed;
  bottom: 10px;
  left: 10px; */
  margin: -30px 0 20px 10px;
  color: #999;
  font-size: 14px;
}
.noEditFooter span {
  color: #6699ff;
}
.editPage #noEdit,
.editPage .noEditFooter {
  display: none;
}
.noEditPage #edit,
.noEditPage .footerBtn {
  display: none;
}




/* 今日赛程 */
.todayEventPage {

}
.todayEventPage .navbar {
  width: 100vw;
  height: 47px;
  line-height: 47px;
  background: #fff;
  position: fixed;
   top: 0;
}
.todayEventPage .navbar .item {
  width: 50%;
  height: 100%;
  text-align: center;
}
.todayEventPage .navbar .active {
  border-bottom: 5px solid #FF9900;
}
.todayEventPage #tab2 {
  display: none;
}
.todayEventPage .content .tips {
  width: 94%;
  margin: 0 3%;
  height: 37px;
  line-height: 37px;
  font-size: 3.2vw;
  color: #FF0000;
}
.todayEventPage .content .data {
  background: #fff;
  width: 88%;
  margin: 0 3% 50px 3%;
  padding: 10px 3%;
  border-radius: 10px;
}
.todayEventPage .content .data .title {
  height: 37px;
  line-height: 37px;
  text-align: center;
  font-size: 16px;
  color: #fff;
  background: #FF0000;
  border-radius: 20px;
}
.todayEventPage .content .dan {
  background-image: url('/h5/img/ban/dan.png');
  background-position: -1px -1px;
  background-repeat: no-repeat;
  background-size: 23px;
}
.todayEventPage .content .redBG {
  background-color: #FF0000;
  color: #fff;
}
.todayEventPage .content .item {
  padding: 5px 0;
}
.todayEventPage .content .item .name {
  font-size: 14px;
  font-weight: 600;
}
.todayEventPage .content .item .name>div:nth-child(2) {
  color: #999;
}
.todayEventPage .tabzq .item .name {
  margin: 5px 2vw 5px 30vw;
}
.todayEventPage .tablq .item .name {
  margin: 5px 2vw 5px 25vw;
}
.todayEventPage .content .item .table {
  font-size: 12px;
}
.todayEventPage .content .item .table .leftBox {
  text-align: center;
  width: 25%;
}
.todayEventPage .content .item .table .rightBox {
  text-align: center;
  width: 75%;
}
.todayEventPage .tabzq .table tr td:first-child {
  width: 7vw;
  /* font-size: 8px; */
}
.todayEventPage .tablq .table tr td:first-child {
  width: 24vw;
  /* font-size: 10px; */
}
.todayEventPage .tablq .table tr td:first-child span{
  color: #0066FF;
}
.todayEventPage .content table {
  border-right: 1px solid #E4E4E4;
  border-bottom: 1px solid #E4E4E4
} 
.todayEventPage .content table td {
  height: 30px;
  line-height: 30px;
  border-left: 1px solid #E4E4E4;
  border-top: 1px solid #E4E4E4
} 
.todayEventPage .content .bottomTips {
  width: 100%vw;
  color: #999;
  font-size: 14px;
  text-align: center;
}
.todayEventPage .footerBtn {
  width: 100%;
  font-size: 14px;
  background: #ff9900;
  color: #fff;
  height: 43px;
  line-height: 43px;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
}


/* 生成海报 */
.eventPosterPage {
  background: #0E00FF;
}
.eventPosterPage .img {
  width: 100vw;
}
/* .eventPosterPage #tab1 {
  display: none;
}
.eventPosterPage #tab2 {
  display: block;
} */
.eventPosterPage .content .data .bottomTips {
  color: #999;
}
.eventPosterPage .content .data {
  margin: 0 3% 15px 3%;
}
.eventPosterPage .footerBox {
  margin: 0 3vw;
  font-size: 23px;
  color: #fff;
  padding-bottom: 15px;
} 
.eventPosterPage .footerBtn {
  width: 100%;
  font-size: 14px;
  background: #ff9900;
  color: #fff;
  height: 43px;
  line-height: 43px;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
}



.videoHome {
  color: #333333;
}
.videoHome .swiper-container {
  width: 100%;
  height: 160px;
}
.videoHome .swiper-slide {
  position: relative;
}
.videoHome .swiper-slide .bgImg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.videoHome .header {
  margin: 10px 2%;
}
.videoHome .header div {
  width: 49%;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  padding: 5px 0;
  background: #ccc;
  border-radius: 5px;
}
.videoHome .tabs {
}
.videoHome .tabs .navbar {
  background: #fff;
}
.videoHome .tabs .navbar .item {
  width: 25%;
  text-align: center;
  font-size: 13px;
  height: 37px;
  line-height: 37px;
}
.videoHome .tabs .navbar .active {
  color: #ff9933;
  border-bottom: 2px solid #ff9933;
}
.videoHome .query {
  width: 60px;
  font-size: 13px;
  padding: 5px 10px;
}
.videoHome .query .active {
  color: #00cc00;
}
.videoHome .content {
  padding: 10px;
  flex-wrap: wrap;
}
.videoHome .content .item {
  position: relative;
  width: 31%;
  height: 180px;
  background-repeat: no-repeat;
  background-size:cover;
  margin-bottom: 10px;
      border-radius: 10px;
      background-position: center top;
}
.videoHome .content .item .topBox {
  width: 96%;
  height: 28px;
  line-height: 28px;
  font-size: 12px;
  position: absolute;
  left: 0;
  top: 0;
  background: #333;
  padding: 0 2%;
  opacity: 0.8;
    color: #fff;
       border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.videoHome .content .item .title {
  width: 100%;
  height: 30px;
  line-height: 30px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: #333;
  text-align: center;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
  opacity: 0.8;
   color: #fff;
   font-size: 14px;
       border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.videoHome .swiper-pagination-bullet-active {
  background: #ff9933;
}

/* 分销广场 */
.distributionPage {
  color: #333333;
}
.distributionPage .swiper-container {
  width: 100%;
  height: 160px;
}
.distributionPage .swiper-slide {
  position: relative;
}
.distributionPage .swiper-slide .bgImg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.distributionPage .header {
  margin: 10px 2%;
}
.distributionPage .header div {
  width: 49%;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  padding: 5px 0;
  background: #ccc;
  border-radius: 5px;
}
.distributionPage .tabs {
}
.distributionPage .tabs .navbar {
  background: #fff;
}
.distributionPage .tabs .navbar .item {
  width: 25%;
  text-align: center;
  font-size: 13px;
  height: 37px;
  line-height: 37px;
}
.distributionPage .tabs .navbar .active {
  font-weight: 600;
}
.distributionPage .query {
  width: 120px;
  font-size: 13px;
  padding: 5px 10px;
}
.distributionPage .query .active {
  color: #00cc00;
}
.distributionPage .content {
  padding: 8px 0;
  flex-wrap: wrap;
  background-color: #eee;
}
.distributionPage .content .item {
  position: relative;
  width: 94%;
  padding: 10px 3%;
  font-size: 13px;
  border-bottom: 1px solid #eee;
  background-color: #fff;
}
.distributionPage .content .item .img {
  width: 80px;
  height: 80px;
  border-radius: 8px;
}
.distributionPage .content .item .rightBox {
  width: 70%;
  margin-left: 10px;
}
.distributionPage .content .item .title {
  font-size: 20px;
  font-weight: 600;
}
.distributionPage .content .item .boxRight {
  width: 110px;
  text-align: left;
}



