body,h1,h2,h3,h4,h5,h5,p,ul,ol,dl,dd,pre{
    margin:0;
    padding:0;
}
img{
    vertical-align:bottom;
}
i{
    font-style: inherit;
}
em{
    font-style: inherit;
}
body{
    margin:0;
    font:14px "微软雅黑",Arial,Helvetica,sans-serif;
    color:#666;
    background-color:rgb(246, 246, 246);
    -webkit-text-size-adjust: 100%!important;
}
a{
    color:#808080;
    text-decoration:none;
}
a:hover{
    /*  color:#333; */
}
.clear-float:after{
    content:"";
    display:block;
    clear:both;
}
.clear-height{
    content:"";
    display:table;
}
.clear_float:after{
    content:"";
    display:block;
    clear:both;
}
.clear_height{
    content:"";
    display:table;
}
li{
    list-style:none;
}
.main{
    width:60%;
    margin:0 auto;
    background:#ffffff;
}
.main-line{
    width:60%;
    margin:0 auto;
}
.text-center{
    text-align:center;
}
.text-left{
    text-align:left;
}
.text-right{
    text-align:right;
}
.black-font{
    color:#000;
    margin-top:5px;
}
.weui-mask.weui-mask--visible {
    opacity: 0.4;
}
.tabbar-bg a .weui-tabbar__label{
    color:#888;
}
.weui-cell .weui-vcode-btn{
    color:#00bfff;
}
.tabbar-bg .tab-toggle .weui-tabbar__label{
    color:#ff9900;
}
.weui-cells .weui-cell .weui-input{
    color:#ccc;
    font-size: 16px;
}
.weui-cells .weui-cell input::-webkit-input-placeholder{
    color:#ccc;
    font-size: 16px;
}
.weui-cells .weui-cell input::-moz-placeholder{   /* Mozilla Firefox 19+ */
    color:#ccc;
    font-size: 16px;
}
.weui-cells .weui-cell input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
    color:#ccc;
    font-size: 16px;
}
.weui-cells .weui-cell input:-ms-input-placeholder{  /* Internet Explorer 10-11 */
    color:#ccc;
    font-size: 16px;
}
.weui-cell:before{
    border-top:0;
}
.weui-cell {
    border-top:1px solid #e5e5e5;
}

.weui-dialog__bd_zdy {
    padding: 0 0 .8em;
    min-height: 20px;
    font-size: 0.4rem;
    line-height: 1.3;
    word-wrap: break-word;
    word-break: break-all;
    color: #999;
}
.bg_fff{
    background:#fff;
}
.text_center{
    text-align:center;
}
.text_left{
    text-align: left;
}
.icon_right{
    float:right;
}
.icon_right::before{
    content: " ";
    display: inline-block;
    height: 6px;
    width: 6px;
    border-width: 2px 2px 0 0;
    border-color: #c8c8cd;
    border-style: solid;
    -webkit-transform: matrix(.71,.71,-.71,.71,0,0);
    transform: matrix(.71,.71,-.71,.71,0,0);
}
.font_weight{
    font-weight: bold;
    color: #000;
}
/* index */
.page{
    position: relative;
    width: 100%;
    height: 100%;
    /* background-color:#ddd; */
    font-size:0.3733rem;
    margin-bottom: 25%;
}
.index_top{
    width: 100%;
    height:2.6667rem;
    background: #0099FF;
    color:#fff;
    text-align: center;
    padding:0.4rem 0;
}
.index_top p,
.index_mid_top p{
    margin-top:0.1333rem;
}
.index_top a,
.index_mid_top a{
    display: inline-block;
}
.index_top a{
    color:#fff;
}
.index_top img{
    width: 1.2rem;
}
.index_mid_top img{
    width: 1.1rem;
}
.index_top .weui-flex__item,
.index_mid_top .weui-flex__item{
    position: relative;
}
.index_top span,
.index_mid_top span{
    position: absolute;
    top:-0.16rem;
    right:0.08rem;
    width: 0.48rem;
    height:0.48rem;
    line-height: 0.48rem;
    text-align: center;
    border-radius: 50%;
    background: #ff0000;
    color:#fff;
}
.index_mid_top{
    width: 94%;
    margin:-0.8rem auto 0;
    border-radius: 0.2133rem;
    padding:10px 0;
}
.index_mid_mid{
    width: 94%;
    margin: 0.2667rem auto 0;
    border-radius: 0.2133rem;
}
.index_mid_mid .order{
    border-bottom: 1px solid #ddd;
    padding:0.2667rem;
}
.index_mid_mid .weui-flex__item{
    padding:0.48rem 0;
}
.index_mid_mid .weui-flex__item b{
    font-size:0.64rem;
    color:#000;
}
.index_mid_mid .weui-flex__item p{
    font-size:0.48rem;
    margin-top:0.2133rem;
}
.index_mid_bot{
    width: 94%;
    margin: 0.2667rem auto 0;
    border-radius: 0.2133rem;
}
.index_mid_bot .order{
    border-bottom: 1px solid #ddd;
    padding:0.2667rem;
}
.index_mid_bot .weui-flex__item{
    padding-top:0.48rem;
}
.index_mid_bot .weui-flex__item b{
    font-size:0.5333rem;
    font-weight:600;
    color:#000;
}
.index_mid_bot .weui-flex__item p{
    margin-top:0.2133rem;
}
.order_nav{
    background:#fff;
}
.order_nav_ml{
    padding:0 0.5333rem;
}

.order_nav_dg{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9;
    width: 100%;
}

.order_nav .weui-flex__item{
    padding:0.32rem 0;
}
.order_nav .weui-flex__item.checked{
    border-bottom:0.08rem solid #ff9900;
    font-weight:bold;
    color: #000;
}
.order_warn{
    padding: 0.16rem;
    margin-top:0.0533rem;
}
.order_warn i{
    font-size:0.4267rem;
    color:#000;
}
.order_warn a{
    color:#00bfff;
}
.order_content{
    margin-top:5px;
}
.order_content .cont_right{
    float:left;
    width: 96%;
    font-size:0.4267rem;
    color:#000;
}
.order_content .cont_right>div{
    padding:0.1067rem 0;
}
.order_content i{
    margin-top:1.091rem;
}
.order_content .name{
    display: inline-block;
    width: 40%;
}
.order_content .cont{
    display: inline-block;
    width: 58%;
    text-align: right;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
    top:0.08rem;
}
.order_content .font_bold{
    font-weight: bold;
    font-size:0.40rem;
    top: 0.08rem;
}
.order_content .font_gray{
    color:#999;
    font-size:0.40rem;
    top: 0.08rem;
}
.order_content .red{
    color:#ff0000;
    font-size:0.4267rem;
}
.order_content .green{
    color:#16ca16;
    font-size:0.4267rem;
}
.order_content ul li{
    border-bottom:0.0267rem solid #ddd;
    padding: 0 0.2667rem 0 0.2667rem;
}
.wait_head{
    padding:0.2667rem;
}
.wait_head .name,
.wait_head .order_num{
    display: inline-block;
    width: 49%;
    font-size:0.4267rem;
}
.wait_head .name{
    color:#000;
    font-weight: bold;
}
.wait_head .order_num{
    text-align: right;
}
.wait_content{
    margin-top:0.2667rem;
}
.wait_content .top .weui-flex__item span{
    display: inline-block;
    padding:0.2667rem 0 0.1333rem 0;
    color:#b2b2b2;
}
.wait_content .top .weui-flex__item p{
    padding:0.1333rem 0 0.2667rem 0;
    color:#000;
    font-size:0.3733rem;
    font-weight:600;
}
.wait_content .top{
    border-bottom:1px dotted #ccc;
}
.wait_content .middle .tit{
    display: inline-block;
    padding-left:0.2667rem;
    margin:0.4rem 0 0.4rem 0.5333rem;
    border-left:0.1333rem solid #000;
    font-size:0.4267rem;
    font-weight: bold;
}
.wait_content .middle .cont_details{
    padding:0 0.5333rem 0.5333rem;
}
.wait_content .middle .play{
    font-size: 0.3733rem;
    color: #000;
}
.wait_content .middle .play span:first-child{
    display: inline-block;
    width: 0.48rem;
    height:0.48rem;
    line-height: 0.48rem;
    border:0.0267rem solid #000;
    border-radius: 50%;
    text-align: center;
}
.wait_content .middle .team{
    font-size: 0.3733rem;
}
.wait_content .middle .team li{
    padding:0.2667rem 0;
}
.wait_content .middle .team li>p:first-child{
    display: inline-block;
    width: 70%;
}
.wait_content .middle .multiple span{
    display:inline-block;
    width: 35%;
}
.wait_content .middle .multiple span:nth-child(2){
    width:26%;
    text-align: center;
}
.wait_content .middle .multiple span:first-child,
.wait_content .middle .multiple span:last-child{
    border-bottom:0.0267rem solid #ccc;
    margin-bottom:0.1067rem;
}
.wait_btn{
    padding:15px;
}
.wait_btn>a{
    background:#ff9900;
    font-size:0.4267rem;
}
.wait_cancel{
    margin-top:1.3333rem;
    padding:0.2667rem;
}
.wait_cancel i{
    color:#999;
}
.pro_content{
    margin-top:0.0267rem;
}
.pro_content .top .weui-flex__item span{
    display: inline-block;
    padding:0.2667rem 0 0.1333rem 0;
    color:#000;
    font-size:0.48rem;
    font-weight:600;
}
.pro_content .top .weui-flex__item p{
    padding:0.1333rem 0 0.2667rem 0;
    color:#b2b2b2;
}
.pro_order_status{
    padding:0.2133rem 0.2667rem;
}
.pro_order_status .tit{
    color:#000;
}
.pro_order_status .sta{
    float:right;
}
.pro_order_status_cont{
    width: 80%;
    padding:0.9333rem 0;
    margin:auto;
}
.pro_order_status_cont div:nth-child(1){
    position: relative;  width: 33.3%;top: 0.1333rem;height: 0.1333rem;background-color:#cccccc;top:0;
}
.pro_order_status_cont div:nth-child(2){
    position: relative;  width: 66.6%;top: 0.1333rem;height: 0.1333rem;background-color:#cccccc;top:-0.1333rem;
}
.pro_order_status_cont div:nth-child(3){
    position: relative;  width: 100%;top: 0.1333rem;height: 0.1333rem;background-color:#cccccc;top:-0.2667rem;
}
.pro_order_status_cont div:nth-child(4){
    position: relative;  width: 100%;top: 0.1333rem;height: 0.1333rem;background-color:#cccccc;top:-0.4rem;
}
.pro_order_status_cont div:nth-child(1) span.flow{
    position: absolute;display:inline-block; width:1.3333rem; height:0.5333rem; line-height:0.5333rem;border-radius:0.2667rem;top:-0.1867rem;left: 0;
    background: #ccc;color:#fff;z-index:10;text-align:center;
}
.pro_order_status_cont div:nth-child(2) span.flow{
    position: absolute;display:inline-block; width:1.3333rem; height:0.5333rem; line-height:0.5333rem;border-radius:0.2667rem;top:-0.1867rem;left: 40%;
    background: #ccc;color:#fff;z-index:10;text-align:center;
}
.pro_order_status_cont div:nth-child(3) span.flow{
    position: absolute;display:inline-block; width:1.3333rem; height:0.5333rem; line-height:0.5333rem;border-radius:0.2667rem;top:-0.1867rem;left: 56%;
    background: #ccc;color:#fff;z-index:10;text-align:center;
}
.pro_order_status_cont div:nth-child(4) span.flow{
    position: absolute;display:inline-block; width:1.3333rem; height:0.5333rem; line-height:0.5333rem;border-radius:0.2667rem;top:-0.1867rem;right: 0;
    background: #ccc;color:#fff;z-index:10;text-align:center;
}
.pro_order_status_cont div:nth-child(1) span.text{
    position: absolute;display:inline-block; width:1.3333rem; height:0.5333rem;top:0.5867rem;left: 0;
    text-align:center;
}
.pro_order_status_cont div:nth-child(2) span.text{
    position: absolute;display:inline-block; width:1.3333rem; height:0.5333rem;top:0.5867rem;left: 40%;
    text-align:center;
}
.pro_order_status_cont div:nth-child(3) span.text{
    position: absolute;display:inline-block; width:1.3333rem; height:0.5333rem;top:0.5867rem;left: 56%;
    text-align:center;
}
.pro_order_status_cont div:nth-child(4) span.text{
    position: absolute;display:inline-block; width:1.3333rem; height:0.5333rem;top:0.5867rem;right: 0;
    text-align:center;
}
.pro_order_status_cont div.active{
    background:#ff0000;
}
.pro_order_status_cont div.active-border{
    z-index:1
}
.pro_order_status_cont div.active span.flow{
    background:#ff0000;
}
.pro_content_details{
    margin-bottom:0.2667rem;
}
.pro_content_details ul li{
    border-top:0.0267rem solid #e5e5e5;
}
.pro_content_details p.title{
    color:#000;
    padding:0.08rem;
}
.pro_content_details .cont_li{
    padding:0.2133rem 0;
    color:#000;
}
.pro_content_details .cont_li span.win{
    color:#ff0000;
}
.recharge_content{
    margin-top:0.2667rem;
}
.recharge_content ul li{
    border-bottom:0.0267rem solid #e5e5e5;
    padding:0.2133rem;
}
.recharge_content .li_img,
.recharge_content .li_cont{
    float:left;
}
.recharge_content .li_img{
    vertical-align: middle;
    width: 18%;
    text-align: center;
    height: 100%;
    margin-top:0.08rem;
}
.recharge_content .li_img img{
    width:1.2rem;
    border:0.0267rem solid #ccc;
    border-radius:50%;
}
.recharge_content .li_btn{
    float:right;
    margin-top:0.2667rem;
    margin-right:0.3733rem;
}
.recharge_content .li_cont .name{
    font-size: 0.3733rem;
    font-weight: bold;
    padding:0.08rem;
}
.recharge_content .li_cont .money{
    font-size: 0.3733rem;
    padding:0.08rem;
}
.recharge_content .li_btn button{
    width: 1.4667rem;
    height:0.8rem;
    line-height:0.8rem;
    background:#ff9900;
    color:#fff;
    border:0;
    border-radius:0.1333rem;
}
.recharge_content .li_btn button.gray{
    background: #b2b2b2;
}
.recharge_content .li_icon{
    margin-top:0.4rem;
}
.withdraw_content{
    width: 96%;
    margin:0.2133rem auto 0;
    border-radius:0.2133rem;
}
.multiple_line{
    width: 80%;
    margin: 0.2667rem auto 0;
}
.multiple_line span{
    display:inline-block;
    width: 35%;
}
.multiple_line span:nth-child(2){
    width:24%;
    text-align: center;
}
.multiple_line span:first-child,
.multiple_line span:last-child{
    border-bottom:0.0267rem solid #ccc;
    margin-bottom:0.1067rem;
}
.pro_manage{
    margin-top:0.0267rem;
}
.pro_manage .top .weui-flex__item span{
    display: inline-block;
    padding:0.2667rem 0 0.1333rem 0;
    color:#000;
    font-size:0.5867rem;
    font-weight:500;
}
.pro_manage .top .weui-flex__item p{
    padding:0.1333rem 0 0.2667rem 0;
    color:#b2b2b2;
}
.user_details_content{

}
.user_details_content ul li{
    border-bottom:0.0267rem solid #e5e5e5;
    padding:0.32rem 0.2133rem;
}
.user_details_content .li_img,
.user_details_content .li_cont{
    float:left;
}
.user_details_content .li_img{
    vertical-align: middle;
    width: 20%;
    text-align: center;
    height: 100%;
    margin-top:0.2667rem;
}
.user_details_content .li_img img{
    width:1.3333rem;
    border:0.0267rem solid #ccc;
    border-radius:50%;
}
.user_details_content .li_btn_edit{
    float:right;
    margin-top:0.5867rem;
    margin-right:0.3733rem;
}
.user_details_content .li_btn{
    float:right;
    margin-right:0.3733rem;
}
.user_details_content .li_cont .name{
    font-size: 0.3733rem;
    font-weight: bold;
    padding:0.08rem;
}
.user_details_content .li_cont .money{
    font-size: 0.3733rem;
    padding:0.08rem;
}
.user_details_content .li_cont .title_money{
    font-size: 0.4267rem;
    font-weight: bold;
    padding:0.1067rem;
}
.user_details_content .li_btn button.gray{
    background: #b2b2b2;
}
.user_details_content .li_icon{
    margin-top:0.4rem;
}
.user_details_content .li_btn button{
    width: 1.4667rem;
    height:0.8rem;
    line-height:0.8rem;
    background:#ff9900;
    color:#fff;
    border:0;
    border-radius:0.1333rem;
}
.merch_content{
    margin-top:56px;
}
.merch_content .weui-flex__item{
    padding:0 0.1333rem;;
}
.merch_content .weui-flex__item p{
    width: 100%;
    height:0.8rem;
    background-color:#fff;
    border-radius:0.4267rem;
    position: relative;
}
.merch_content .weui-flex__item .min_box{
    display: inline-block;
    width: 77%;
    height:0.8rem;
    line-height:0.8rem;
    /* background-color:red; */
    border-radius:0.4267rem;
    text-align: center;
    font-size:0.32rem;
    color:#fff;
}
.merch_content .weui-flex__item>p>span:last-child{
    position: absolute;
    top:0.1333rem;
    right:0.1333rem;
    color: #000;
}
.merch_content .gray,
.merch_table .gray{
    background:#999999;
    color: #fff;
}
.merch_content .green,
.merch_table .green{
    background:#00CC66;
    color: #fff;
}
.merch_content .purple,
.merch_table .purple{
    background:#6699FF;
    color: #fff;
}
.merch_content .yellow,
.merch_table .yellow{
    background:#FFCC33;
    color: #fff;
}
.merch_content .blue,
.merch_table .blue{
    background:#0099FF;
    color: #fff;
}
.merch_content .red,
.merch_table .red{
    background:#ff0000;
    color: #fff;
}
.merch_content .min_td,
.merch_table .min_td{
    background: #666;
    color: #fff;
}
.merch_content .mid_td,
.merch_table .mid_td{
    background: #ff9800;
    color: #fff;
}
.merch_content .max_td,
.merch_table .max_td{
    background: #794c08;
    color: #fff;
}
.merch_table{
    width: 98%;
    margin:0.2667rem auto 0;
}
.merch_table table{
    width: 100%;
    font-size:10px;
    border-spacing: 0;
}
.merch_table table thead{
    background:#fff;
    color:#000;
}
.merch_table table thead tr th{
    font-weight: 100;
    padding:0.0533rem;
    border-top:0.0267rem solid #000;
    border-right:0.0267rem solid #000;
}
.merch_table table tbody tr td{
    padding:0.1033rem 0;
    border-bottom:0.0267rem solid #000;
    border-right:0.0267rem solid #000;
    color:#000;
}
.merch_footer{
    position: fixed;
    bottom:0;
    left:0;
    width:100%;
}
.merch_footer button{
    width:100%;
    background:#ff9900;
    padding:0.3733rem;
    font-size:0.48rem;
    border:0;
    color:#fff;
}
.img_box>img:first-child{
    width:100%;
    margin: auto;
}
.img_box .close{
    width: 0.8rem;
    position: absolute;
    left:50%;
    margin-left:-0.4rem;
    bottom:-50px;
}
.merch_top{
    width: 98%;
    margin:0.1333rem auto 0.2667rem;
    padding:0.4rem 0;
    background: url('../img/fx-top.png') no-repeat 100% 100%;
}
.merch_top .title{
    font-size:0.7467rem;
    font-weight: bold;
    padding:0.1333rem;
}
.merch_top .time{
    font-weight: bold;
    padding:0.1333rem;
}
.merch_pur{
    width: 98%;
    margin:0.1333rem auto 0.2667rem;
    padding:0.4rem 0;
    background: url('../img/fx-bg.png') no-repeat 100% 100%;
}
.merch_pur .tit_left{
    float:left;
    font-size:0.48rem;
    text-align: left;
    padding:0.4267rem 0 0 0.4267rem;
}
.merch_pur .ewm{
    float:right;
    padding-right:0.5333rem;
}
.merch_share_footer{
    position: fixed;
    bottom:0;
    left:0;
    width:100%;
}
.merch_share_footer button{
    width:100%;
    background:#666;
    padding:0.3733rem;
    font-size:0.48rem;
    border:0;
    color:#fff;
}
.order_nav.nav_line{
    padding:0;
}
.order_nav.nav_line .weui-flex__item{
    padding:0.32rem 0;
    border-top:0.0267rem solid #ccc;
}
.order_nav.nav_line .weui-flex__item:first-child{
    border-right:0.0267rem solid #ccc;
}
.mlfb_content{
    margin-top:0.2667rem;
}
.mlfb_content .cont_tit{
    padding:0.2133rem;
    color:#000;
}
.mlfb_content .cont_tit span:first-child{
    float:left;
    font-size:0.32rem;
}
.mlfb_content .cont_tit span:last-child{
    float:right;
    font-size:0.32rem;
}

.mlfb_content .cont_team{
    border-top:1px solid #ccc;
}
.mlfb_content .cont_table{
    width: 100%;
}
.mlfb_content .cont_table thead tr th{
    font-size:0.32rem;
    font-weight: 400;
    color:#999;
    padding:0.1333rem 0;
}
.mlfb_content .cont_table tbody tr td{
    font-weight: bold;
    padding:0.16rem 0;
}
.mlfb_content .ml_num{
    position:absolute;
    top:0;
    right: 0.2667rem;
    font-weight: 400;
}
.zdy_bar{
    background-color: #E5E5E5;
    height: 0.5333rem;
    border-radius:0.2667rem;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    overflow: hidden;
    position: relative;
}
.zdy_inner_bar {
    width: 0;
    height: 100%;
    background-color: #ff9900;
    border-top-left-radius:0.2667rem;
    border-bottom-left-radius:0.2667rem;
}
.zdy_bar .win_team{
    color:#fff;
    position: absolute;
    top:0;
    left:0.2667rem;
}
.statistics{
    margin-top:0.2133rem;
}
.statistics:last-child{
    margin-bottom:2.6667rem;
}
.statistics .title{
    border-bottom:1px solid #ccc;
    padding:0.2667rem;
    font-size:0.48rem;
}
.statistics .weui-flex__item{
    margin:7.9987px 0;
}
.statistics .weui-flex__item:nth-child(2){
    border-left:1px solid #ccc;
    border-right:1px solid #ccc;
}
.statistics .weui-flex__item p{
    font-size:18px;
    color:#000;
}
.statistics .weui-flex__item .weight_font{
    margin-top:10px;
}
.shop_info_cont{
    margin-top:10px;
}
.shop_info ul li{
    padding:0.4rem 0.2667rem;
    border-bottom:1px solid #ececec;
}
.shop_info .title{
    float:left;
    color:#000;
    font-size:0.4267rem;
}
.shop_info .til_content{
    float:right;
    color:#b2b2b2;
    font-size:0.4267rem;
    width:5.3333rem;
    text-align: right;
}
.shop_info .margin_line{
    margin-right:0.2667rem;
}
.shop_warn{
    padding: 10px;
    margin-top:0.0533rem;
    font-size:0.4267rem;
    color:#888;
}
.shop_warn a{
    color:#00bfff;
}
.mask{
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    overflow:hidden;
    z-index:100;
    display:none;
    background: rgba(0, 0, 0, 0.3);
}
.popup{
    width:6.1333rem;
    height:8rem;
    position:absolute;
    margin:auto;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:#fff;
    z-index:100;
    display: none;
    padding:0.4rem 0.2133rem;
    border-radius:0.4rem;
}
@keyframes zoomIn {
    from {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }
    50% {
        opacity: 1;
    }
}
.popup.main {
    animation: zoomIn 0.3s;
    display: flex;
    flex-wrap: wrap;
    opacity: 1;
}
.popup img{
    width:100%;
}
.no_data{
    padding:1.5467rem 0.2667rem;
}
.no_data>img,.no_data>p{
    float:left;
    margin:0.3733rem 0 0 0.2667rem;
}
.no_data a{
    color:#00bfff;
}

/* 海报列表 */
.poster_nav{
    position: fixed;
    width: 100%;
    overflow-y: hidden;
    background: #fff;
    left: 0;
    top: 0;
    z-index: 99;
}
.poster_nav ul.full_ul_row{
    display: block;
    white-space:nowrap;
}
.poster_nav ul.full_ul_row li{
    display: inline-block;
    /*  width: 2.8rem; */
    text-align: center;
    font-size: 0.4267rem;
    padding:0.2133rem 0.1333rem;
}
.poster_nav ul.full_ul_row li.active{
    color:#ff9900;
    font-weight: bold;
}
.poster_content{
    position: relative;
    width: 100%;
}
.poster_content .cont_img{
    width: 100%;
    height: 100%;
}
.poster_content .cont_title{
    position: absolute;
    top:0.3333rem;
    width: 95%;
    background:#fff;
    padding:5px;
    border-top-right-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
}
.poster_content .cont_title img{
    width: 2.4rem;
}
.poster_content .cont_title span:nth-child(2){
    padding-left:0.2667rem;
    /* border-left:0.08rem solid #000; */
}
.poster_content .cont_title span:last-child{
    float: right;
}
.poster_content .cont_details{
    position: absolute;
    top:1.3333rem;
    width:100%;
}
.poster_content .cont_details .jrdg{
    font-size:2.0267rem;
    color:#fff;
    font-weight: 600;
    text-align:center;
    text-shadow: 3px -1px 7px #ff0000;
}
.poster_content .cont_details .jrdg2{
    font-size:0.4rem;
    color:#000;
    font-weight: 600;
    text-align:center;
    width: 90%;
    margin:-0.8533rem auto 0;
    /*   background: rgb(255, 255, 19);
      box-shadow: 3px -7px 0px 1px #ff9900; */
    padding-right:0.5333rem;
}
.poster_content .cont_details .jrdg_img{
    width: 100%;
}
.poster_content .cont_details .team_cont{
    width: 88%;
    background:#fff;
    margin:0.2333rem auto 0;
    border-radius: 0.2133rem;
}
.poster_content .cont_details .team_cont .top{
    position: relative;
    padding:0.2667rem 0 0.16rem;
    text-align:center;
}
.poster_content .cont_details .team_cont .top img{
    width: 0.6667rem;
}
.poster_content .cont_details .team_cont .top span:first-child img{
    position: absolute;
    left:10%;
    bottom:0.4667rem;
}
.poster_content .cont_details .team_cont .top span:last-child img{
    position: absolute;
    right:10%;
    bottom:0.4667rem;
}
.poster_content .cont_details .team_cont .team_mid .te_li{
    position: relative;
    padding-bottom: 0.1333rem;
}
.poster_content .cont_details .team_cont .team_mid .te_li img{
    width: 0.42rem;
    margin-left:0.2667rem;
}
.poster_content .cont_details .team_cont .team_mid .te_li span{
    display:inline-block;
    font-size: 0.5333rem;
    color:#000;
    font-weight: bold;
    margin-left:0.5333rem;
}
.poster_content .cont_details .team_cont .team_mid .te_li .win{
    color:#ff0000;
}
.poster_content .cont_details .team_cont .team_mid .te_li span:first-child{
    width: 0.2667rem;
}
.poster_content .cont_details .team_cont .team_mid .te_li span:nth-child(2){
    width: 0.8rem;
}
.poster_content .cont_details .team_cont .team_mid .te_li span:nth-child(3){
    margin-left:1.0133rem;
}
.poster_content .cont_details .team_cont .team_mid .te_li span:last-child{
    font-size: 0.32rem;
    position: absolute;
    right:0;
    background: #ff9900;
    color:#fff;
    padding:0.1068rem 0.2667rem;
    border-top-left-radius: 0.3667rem;
    border-bottom-left-radius: 0.3667rem;
    font-weight: bold;
}
.poster_content .cont_details .team_cont .team_mid .te_li span:nth-child(5){
    margin-left:0.2667rem;
}
.poster_content .cont_details .footer_cont{
    width: 96%;
    background:#fff;
    margin:0.1333rem auto 0;
    border-radius: 0.2133rem;
    box-sizing: border-box;
    padding:0.1333rem;
    position: relative;
}
.poster_content .cont_details .footer_cont img{
    width: 1.8667rem;
}
.poster_content .cont_details .footer_cont .shop_name{
    position:absolute;
    bottom:0px;
    left:0px;
    background:blue;
    color:#fff;
    font-size:12px;
    padding:0 5px;
    border-radius: 10px;
}
.poster_content .footer_cont .left_img{
    float:left;
}
.poster_content .footer_cont  img.left_img{
    border-radius: 50%;
    width: 1.86667rem;
    height: 1.86667rem;
}
.poster_content .footer_cont .right_img{
    float:right;
}
.poster_content .footer_cont .bold_font{
    display: inline-block;
    font-size:0.5533rem;
    color:#000;
    /* font-weight: bold;
      font-style:italic; */
}
.poster_footer{
    position: fixed;
    bottom:0;
    left:0;
    width:100%;
}
.poster_footer button{
    width:100%;
    background:#ff9900;
    padding:0.3733rem;
    font-size:0.48rem;
    border:0;
    color:#fff;
}
.hot_play{
    width: 96%;
    background:#fff;
    margin:0 auto 0;
    border-radius: 0.2133rem;
}
.hot_play .hot_tit{
    width: 50%;
    margin:auto;
    background:#ff0000;
    color:#fff;
    font-size:0.68rem;
    /* font-weight: bold; */
    text-align: center;
    /*   padding:0.08rem 0 0.1333rem; */
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.poster_content .cont_details .hot_play .top{
    position: relative;
    padding:0.1667rem 0 0.16rem;
    text-align:center;
}
.poster_content .cont_details .hot_play .top img{
    width: 0.8rem;
}
.poster_content .cont_details .hot_play .top span:first-child img{
    position: absolute;
    left:8%;
    bottom:0.5333rem;
}
.poster_content .cont_details .hot_play .top span:last-child img{
    position: absolute;
    right:8%;
    bottom:0.5333rem;
}
.font_weight_22{
    font-size:0.6367rem;
    color:#000;
    /*   font-weight: bold; */
}
.hot_play table{
    width:96%;
    text-align: center;
    border-spacing: 0;
    font-size:0.32rem;
    margin: 0.1333rem 2%;
}
.hot_play table tbody td{
    border-top:0.0267rem solid #ccc;
    border-right:0.0267rem solid #d9d9d9;
    /* padding:0.08rem 0; */
}
.hot_play table tbody tr:last-child td{
    border-bottom:0.0267rem solid #d9d9d9;
}
.hot_table1,.hot_table2,.hot_table3,.hot_table4{
    margin-bottom:0.2667rem;
}
.hot_table1 tbody tr td{
    width: 30%;
}
.hot_table2 tbody tr td{
    width: 12.9%;
}
.hot_table3 tbody tr td{
    width: 22.5%;
}
.hot_table4 tbody tr td{
    width: 18%;
}
.hot_play table tbody td:first-child,
.hot_play table tbody td:last-child{
    width: 5%;
}
.hot_play table tbody td .font_size_14{
    font-size:0.3733rem;
}
.hot_play table tbody td em{
    color:#999;
}
.hot_play .gray_bg2{
    background:#ccc;
    color:#fff;
}
.hot_play .green_bg{
    background:#00CC66;
    color:#fff;
}
.hot_play .purple_bg{
    background:#6699FF;
    color:#fff;
}
.hot_play .yellow_bg{
    background:#FFCC33;
    color:#fff;
}
.hot_play .yellow_bg2{
    background:#ff9800;
    color:#fff;
}
.hot_play .zs_bg{
    background:#9c27b0;
    color:#fff;
}
.hot_play .blue_bg{
    background:#0099FF;
    color:#fff;
}
.hot_play .red_bg{
    border:1px solid #ff0000;
}
.hot_play .red_bg tr:first-child td:last-child{
    background:#ff0000;
    color:#fff;
}.hot_play .gray_bg{
     border:1px solid #000;
 }
.hot_play .gray_bg tr:first-child td:last-child{
    background:#666;
    color:#fff;
}
.myposter{
    width: 96%;
    margin:auto;
    margin-top:0.2667rem;
    background: #fff;
    border-radius: 1.0667rem;
}
.myposter .left{
    float: left;
    width: 1.8667rem;
    height: 1.8667rem;
    text-align: center;
    border-radius: 50%;;
}
.myposter .left img{
    width: 0.9333rem;
    margin-top:0.48rem;
}
.myposter .left.hb1{
    background: url('../img/poster/hb1.png') no-repeat top left;
    background-size:100% 100%;
}
.myposter .left.hb2{
    background: url('../img/poster/hb2.png') no-repeat top left;
    background-size:100% 100%;
}
.myposter .left.hb3{
    background: url('../img/poster/hb3.png') no-repeat top left;
    background-size:100% 100%;
}
.myposter .left.hb4{
    background: url('../img/poster/hb4.png') no-repeat top left;
    background-size:100% 100%;
}
.myposter .left.hb5{
    background: url('../img/poster/hb5.png') no-repeat top left;
    background-size:100% 100%;
}
.myposter .mid{
    float: left;
    margin:0.2667rem 0 0 0.2667rem;
}
.myposter .mid p:first-child{
    font-size:0.5333rem;
    font-weight: bold;
}
.myposter .mid p:last-child{
    font-size:0.3733rem;
    margin-top:0.1333rem;
}
.myposter .right{
    float: right;
    color:#ff0000;
    font-size:0.48rem;
    margin-top:0.5867rem;
    margin-right:1.0667rem;
}


/* 单关跟踪表 */
.fx_box{
    background: #fff;
}
.fx_top{
    position: relative;
}
.fx_top img{
    width: 100%;
}
.fx_top .fx_top_date{
    position: absolute;
    top:2.635rem;
    left:0.5867rem;
    font-size:0.30rem;
    color:#fff;
    font-weight: bold;
    font-style: italic;
}
.foot_img_gd img.foot{
    width: 100%;
}
.foot_img_gd{
    width: 100%;
    margin:0 auto 0;
    padding:0 0;
    position: relative;
    margin-top:0.2667rem;
}
.foot_img_gd .tit_left{
    float:left;
    font-size:0.64rem;
    text-align: left;
    padding:0.4267rem 0 0 0.8rem;
    color:#fff;
}
.foot_img_gd .ewm{
    float:right;
    padding-right:0.5333rem;
}
.merch_content .gray_line{
    border:1px solid #999999;
}
.merch_content .green_line{
    border:1px solid #00CC66;
}
.merch_content .purple_line{
    border:1px solid #6699FF;
}
.merch_content .yellow_line{
    border:1px solid #FFCC33;
}
.merch_content .blue_line{
    border:1px solid #0099FF;
}
.merch_content .red_line{
    border:1px solid #ff0000;
}
.foot_img_gd .foot_po{
    position: absolute;
    top:0.9333rem;
    width:100%;
}
.merch_table table tbody tr:last-child td {
    border-bottom: 0.0267rem solid #000;
}
.merch_table table tbody tr td:first-child {
    border-left: 0.0267rem solid #d9d9d9;
}


/* ==================================彩店助手2.1样式========================= */
body{
    background-color:#F2F2F2 ;
}
/* 重置weiui样式 */
.weui-dialog.weui-dialog--visible{
    border-radius: 10px;
}
.page_two{
    /* position: absolute; */
    /* width: 100%;
    height: 100%; */
    /* background-color:#F2F2F2 ; */
    font-size:0.32rem;
}
/* 发布推荐 */
.release_rec{
    padding:0.5333rem;
}
.release_rec img{
    width: 100%;
}
.release_btn{
    margin-top:1.3333rem;
    padding:0 0.5333rem;
}
/* 创建推荐 */
.recommend_tit{
    padding:0.2667rem;
    font-size:0.3733rem;
}
.recommend_cont{
    background: #fff;
    font-size:0.4267rem;
}
.recommend_cont .left_text{
    width: 2.4rem;
    text-align: center;
}
.recommend_cont .top,
.recommend_cont .top_cont{
    padding:0.2667rem 0;
}
.recommend_cont .top_cont{
    border-top:1px solid #ddd;
}
.recommend_cont .top_cont .zdy_attach{
    padding:0;width: 49%;display: inline-block;
    margin-bottom:0.1333rem;
}
/* 添加推荐 */
.add_recommend .auto_cont{
    display: inline-block;
    position: relative;
    width: 49%;
}
.add_recommend .auto_cont .auto_cont_mid{
    width: 94%;
    margin: 0 auto 0.2667rem;
    background: #fff;
    border-radius: 0.1333rem;
    padding:0.2667rem 0;
}
.add_recommend .auto_cont .auto_cont_mid .re_tit{
    font-size:0.4267rem;
    font-weight: bold;
    margin-bottom: 0.08rem;
}
.add_recommend .auto_cont .auto_cont_mid .re_num{
    font-size:0.32rem;
}
.add_recommend .auto_cont .auto_cont_mid .add_class{
    position: relative;
    width: 42%;;
}
.add_recommend .auto_cont .auto_cont_mid .add_img{
    width: 0.5867rem;
    position: absolute;
    top:0.2667rem;
    left: 0;
}
.add_recommend .auto_cont .auto_cont_mid .add_sp{
    position: absolute;
    top:0.2933rem;
    left: 0.6667rem;
}
.add_recommend .auto_cont .auto_cont_mid .bule_color{
    color:#0099FF;
}
.add_recommend .auto_cont .auto_cont_mid .red_color{
    color:#ff0000;
}
/* 查看专家推荐 */
.dev_recommend{
    width: 100%;
    margin:0 auto;
}
.dev_recommend table{
    width: 100%;
    font-size:0.32rem;
    border-spacing: 0;
}
.dev_recommend table thead{
    background:#666;
    color:#fff;
}
.dev_recommend table thead tr th{
    font-weight: 600;
    padding:0.1333rem;
    color: #fff;
}
.dev_recommend table tbody tr td{
    border-top:0.0267rem solid #ccc;
    border-right:0.0267rem solid #d9d9d9;
    color:#000;
    height: 1.12rem;
}
.dev_recommend table tbody tr:nth-child(even) td{
    background: #f2f2f2;
}
.dev_recommend tbody tr td p{
    padding:0.0533rem 0;
}
.dev_recommend .border_line{
    border-bottom:0.0267rem solid #d9d9d9;
}
.dev_recommend table tbody tr.win td{
    color:#ff0000;
    font-weight: 600;
}
.dev_recommend table tbody tr td p.winBet{
    color:#ff0000;
}
.dev_recommend table tbody tr.wait td{
    color:#000;
    font-weight: bold;
}
/* 发布推荐（列表） */
.fb_recommend{
    width: 94%;
    margin: 0.2667rem auto;
    background:#fff;
    border-radius: 0.16rem;
}
.fb_recommend.new{
    font-size:0.48rem;
    padding:0.2667rem 0;
}
.fb_recommend .team_tit_fb{
    font-size: 0.4267rem;
    font-weight: bold;
    padding:0.2667rem 0.2667rem;
    border-bottom:0.0267rem solid #d9d9d9;
}
.fb_recommend .team_tit_fb>span{
    float: left;
    color: #000;
}
.fb_recommend .team_tit_fb>img{
    float: right;
}
.fb_recommend .team_cont_fb{
    font-size: 0.4267rem;
    font-weight: bold;
    padding:10px 0.2667rem;
}
.fb_recommend .team_cont_fb img{
    width: 0.5333rem;
    vertical-align: middle;display: inline-block;box-sizing: border-box;
}
.fb_recommend .team_cont_fb button{
    height: 1.0667rem;
    border-radius: 0.1333rem;
    border: 0;
    color:#fff;
}
.fb_recommend .team_cont_fb button.is_fb_btn{
    width: 100%;
    background: #999999;
    font-size: 0.3733rem;
}
.fb_recommend .team_cont_fb .ck_fb{
    position: relative;
    top:0.2667rem;
    left:0px;
}
.fb_recommend .team_cont_fb .ck_fb span{
    padding-left:0.1333rem;
    vertical-align: middle;display: inline-block;box-sizing: border-box;
}
.fb_recommend .flex_box{
    display: -webkit-flex; /* Safari */
    display: flex;
    flex-wrap: nowrap;
    justify-content:space-between;
}
.fb_recommend .team_cont_fb .no_fb_btn1{
    width: 70%;
    background: #FF9900;
    font-size: 0.3733rem;
}
.fb_recommend .team_cont_fb .no_fb_btn2{
    width: 28%;
    background: #cccccc;
    font-size: 0.3733rem;
}
/* 自定义弹框 */
.mask{
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    overflow:hidden;
    z-index:100;
    /* display:none; */
    background: rgba(0, 0, 0, 0.3);
}
/* .popup_fb{
    width:80%;
    height:7rem;
    position:absolute;
    margin:auto;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:#fff;
    z-index:100;
    display: none;
    padding:0.4rem 0.2133rem 0;
    border-radius:0.4rem;
    font-size:0.4533rem;
} */
/* @keyframes zoomIn {
    from {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }
    50% {
        opacity: 1;
    }
} */
/* .popup_fb.main {
    animation: zoomIn 0.3s;
    display: flex;
    flex-wrap: wrap;
    opacity: 1;
} */
/* .popup_fb .title{
    font-size:0.48rem;
    font-weight: bold;
    text-align: center;
    padding-bottom:0.2667rem;
} */
.popup_fb .cont{
    padding:0.2667rem 0.2133rem;
    /* border-bottom:0.0267rem solid #d9d9d9; */
    color:#000;
    font-size: 0.3737rem;
}
.popup_fb .left_text{
    padding-right:8px;
}
/* .popup_fb button{
    width: 100%;
    height: 1.3334rem;
    border: 0;
    background: #fff;
    font-size:0.5333rem;
} */
/* .popup_fb button.cancel{
    border-right:0.0267rem solid #d9d9d9;
}
.popup_fb button.ok{
    color:#3cc51f;
} */
/* 发布今日推荐（足球） */
.icon_top{/*向上图标*/
    float:right;
}
.icon_top::before{
    content: " ";
    display: inline-block;
    height: 6px;
    width: 6px;
    border-width:  2px 0 0 2px;
    border-color: #c8c8cd;
    border-style: solid;
    -webkit-transform: matrix(.71,.71,-.71,.71,0,0);
    transform: matrix(.71,.71,-.71,.71,0,0);
}
.icon_down{/*向上图标*/
    float:right;
}
.icon_down::before{
    content: " ";
    display: inline-block;
    height: 6px;
    width: 6px;
    border-width:  0 2px 2px 0;
    border-color: #c8c8cd;
    border-style: solid;
    -webkit-transform: matrix(-.71,.71,.71,.71,0,0);
    transform: matrix(-.71,.71,.71,.71,0,0);
}
.jr_recommend_top{
    padding:0.2667rem 0.2667rem;
    font-size:0.3467rem;
    background: #F2F2F2;
}
.jr_recommend_mid_fist{
    background: #fff;
    /* margin:10px auto 10px; */
}
.jr_recommend_mid_last{
    background: #fff;
    /* margin:10px auto 60px; */
}
.jr_recommend_mid li{
    border-bottom:1px solid #d9d9d9;
}
.jr_recommend_mid .team_time{
    width: 22%;
    text-align: center;
    box-sizing: border-box;
    padding-top:0.96rem;
}
.jr_recommend_mid .team_cont_fb{
    padding:0.2667rem 0;
}
.jr_recommend_mid .team_detail .vs{
    width: 1.3333rem;
}
.jr_recommend_mid .team_detail .team_a{
    padding:0 0 0.2667rem;
}
.jr_recommend_mid .team_detail .team_a .bold_a{
    font-size:0.4267rem;
    color:#000;
    font-weight: bold;
}
.jr_recommend_mid .team_detail .team_a .frq{
    font-size:12px;
    margin-bottom:5px;
}
.jr_recommend_mid .team_detail .team_b .frq{
    font-size:12px;
    width: 15px;
    box-sizing: border-box;
}
.jr_recommend_mid .team_detail .team_b .hhtz_spf{
    display:inline-block;
    width: 86%;
}
.jr_recommend_mid .team_detail .team_b{
    position: relative;
}
.jr_recommend_mid .team_detail .team_b .hhtz{
    position: absolute;
    display:inline-block;
    width: 12%;
    height: 70px;
    border:1px solid #d9d9d9;
    box-sizing: border-box;
    padding-top:17px;
}
.jr_recommend_mid .team_detail .team_b .hhtz_spf .spf{
    height: 36px;
}
.jr_recommend_mid .team_detail .team_b .hhtz_spf .spf div{
    border:1px solid #d9d9d9;
    margin-bottom:2px;
    margin-right:2px;
}
.jr_recommend_mid .team_detail .team_b .hhtz_spf .yellow_bg{
    background-color: #ff9800;
    color: #fff;
}
.jr_recommend_mid .team_detail .team_b .hhtz_spf .spf .weui-flex__item{
    line-height: 34px;
}
.jr_recommend_mid .red_color{
    color:#ff0000;
}
.jr_recommend_mid .red_dan_bg{
    background: url('../img/recommended/dan.png') no-repeat top left;
}
.jr_recommend_fot{
    position: fixed;
    bottom:0;
    left:0;
    width:100%;
    background: #fff;
    padding:10px 0 ;
}
.jr_recommend_fot .del{
    width: 2.1333rem;
    box-sizing: border-box;
    padding-top:5px;
}
.jr_recommend_fot .ms{
    box-sizing: border-box;
    padding-top:10px;
    font-size: 0.4267rem;
}
.jr_recommend_fot .ok{
    width: 2.6667rem;
}
.jr_recommend_fot .ok .ok_q{
    background: #ff9800;
}
.jr_recommend_fot button{
    width: 2rem;
    height: 40px;
    border-radius: 0.2133rem;
    border:0;
    font-size: 0.4267rem;
    color:#fff;
}
.jr_recommend_fot .cancel{
    width: 4.4rem;
    border:1px solid #d9d9d9;
    background: #fff;
    color:#9e9e9e;
}
.jr_recommend_fot .qd{
    width: 4.4rem;
    background: #ff9800;
}
/* 赛事详情 */
.jr_recommend_detail{
    background: #fff;
    margin-bottom:60px;
}
.jr_recommend_detail .top{
    padding:10px 0;
    border-bottom:1px solid #d9d9d9;
}
.jr_recommend_detail .top .weui-flex__item:first-child,
.jr_recommend_detail .top .weui-flex__item:last-child{
    font-size: 0.4267rem;
    font-weight: bold;
    color:#000;
}
.jr_recommend_detail .team_detail{
    padding:0 0.2667rem 10px;
}
.jr_recommend_detail table{
    border-spacing: 0;
    width: 100%;
}
.jr_recommend_detail table tbody td{
    border-right:1px solid #d9d9d9;
    border-bottom:1px solid #d9d9d9;
}
.jr_recommend_detail table tbody tr:first-child td{
    border-top:1px solid #d9d9d9;
}
.jr_recommend_detail table tbody tr td:first-child{
    border-left:1px solid #d9d9d9;
}
.jr_recommend_detail .table_one{
    margin-top:10px;
}
.jr_recommend_detail .table_one td{
    height: 36px;
}
.jr_recommend_detail .table_two td{
    padding:3px 0;
}
.jr_recommend_detail .table_three td{
    padding:8px 0;
}
.jr_recommend_detail .table_four td{
    padding:3px 0;
}
.jr_recommend_detail .table_one .po_re{
    position: relative;
}
.jr_recommend_detail .table_one .po_ab{
    position: absolute;
    top:0.4rem;
    right:-0.8rem;
    background: #ff0000;
    padding:0.1333rem 0.2667rem;
    color:#fff;
    border-radius: 0.4rem;
}
.jr_recommend_detail .red_color{
    color:#ff0000;
}
.jr_recommend_detail .red_bg{
    background:#ff0000;
    color:#fff;
    margin-top:0.2667rem;
}
.jr_recommend_detail .red_dan_bg.yellow_bg{
    background-color:#ff9800;
    color:#fff;
    margin-top:10px;
}
.jr_recommend_detail .yellow_bg{
    background-color:#ff9800;
    color:#fff;
    margin-top:10px;
}
.jr_recommend_detail .red_dan_bg{
    background: url('../img/recommended/dan.png') no-repeat top left;
}
/* 确定发布 */
.sure_fb{
    background: #fff;
    border-radius: 0.2133rem;
    margin:0.2667rem auto 0;
    width: 94%;
}
.sure_top .tit_t{
    padding:8px 10px;
    border-bottom:1px solid #d9d9d9;
}
.sure_top .tit_t .dh{
    font-size: 0.4267rem;
    color:#000;
    font-weight: bold;
}
.sure_top .tit_t .fa{
    float: right;
}
.sure_top .tit_ss{
    width: 95%;
    margin: auto;
    border-bottom:1px solid #d9d9d9;
}
.sure_top .tit_ss:last-child{
    border-bottom:0;
}
.sure_top .tit_ss .team_name,
.sure_top .tit_ss .team_ret{
    display: inline-block;
    width: 100%;
    padding:0.1333rem 0;
}
.sure_top .tit_ss .team_ret span{
    display: inline-block;
    width: 32.3%;
    margin-top:0.08rem;
    margin-right: 1%;
}
.sure_top .tit_ss .team_ret span em{
    display: inline-block;
    width: 100%;
    background: #FF9900;
    color:#fff;
    padding:5px 0;
    border-top-left-radius: 0.2133rem;
    border-top-right-radius: 0.2133rem;
}
.sure_top .tit_ss .team_ret span i{
    display: inline-block;
    width: 100%;
    background: #F2F2F2;
    padding:5px 0;
    color:#000;
    font-weight: bold;
    border-bottom-left-radius:0.2113rem;
    border-bottom-right-radius:0.2113rem;
}
.sure_mid .tit_t{
    padding:0.2133rem 0.2667rem;
}
.sure_mid .tit_t .dh{
    font-size: 0.4rem;
}
.sure_mid .tit_t .fa{
    float: right;
    font-size: 0.3733rem;
    color:#000;
    font-weight: bold;
}
.sure_fot .tit_t{
    padding:0.2133rem 0.2667rem;
}
.sure_fot .tit_t .dh{
    font-size: 0.4rem;
}
.sure_fot .btn_s{
    padding:0.1333rem 0 0.4rem;
}
.sure_fot .btn_s button{
    padding:0.1333rem;
    width: 1.8667rem;
    border:0.0267rem solid #ff9800;
    border-radius: 0.1333rem;
    background: #fff;
}
.sure_fot .btn_s button.yellow_bg{
    background: #ff9800;
    color:#fff;
}
/* 查看推荐（列表） */
.ck_tj_top .weui-flex__item{
    /* padding:0.2667rem; */
    padding-left: 0.2667rem;
    padding-right: 0.2667rem;
    padding-top: 0.2667rem;
}
.ck_tj_top .weui-flex__item .cont{
    background: #fff;
    font-size:0.48rem;
    padding:0.32rem;
    border-radius: 0.2133rem;
}
.ck_tj_con .tit_t{
    padding:0.2133rem 0.2667rem;
    /*   border-bottom:1px solid #d9d9d9; */
}
.ck_tj_con .tit_t .dh{
    font-size: 0.4267rem;
    color:#000;
    font-weight: bold;
}
.ck_tj_con .tit_t .fa{
    float: right;
    margin-top: 0.05333rem;
}
.ck_tj_con table{
    border-spacing: 0;
    width: 100%;
}
.ck_tj_con table th{
    background: #FF9900;
    color:#fff;
}
.ck_tj_con table td{
    padding:8px 0;
    border-left: 1px solid #d9d9d9;
    color: #000;
}
.ck_tj_con table td:FIRST-CHILD{
    border-left:0;
}
.multiple_line_tj{
    width: 80%;
    margin: 0.2667rem auto 0;
}
.multiple_line_tj span{
    display:inline-block;
    width: 20%;
}
.multiple_line_tj span:nth-child(2){
    width:55%;
    text-align: center;
}
.multiple_line_tj span:first-child,
.multiple_line_tj span:last-child{
    border-bottom:0.0267rem solid #ccc;
    margin-bottom:0.1067rem;
}
.ck_wait_head{
    padding:0.2667rem;
}
.ck_wait_head .name,
.ck_wait_head .order_num{
    display: inline-block;
    width: 47%;
    font-size:0.4267rem;
}
.ck_wait_head .name{
    color:#000;
    font-weight: bold;
}
.ck_wait_head .order_num{
    text-align: right;
}
.ck_wait_head .set{
    padding-right: 0.5333rem;
}
.ck_merch_footer{
    position: fixed;
    bottom:0;
    left:0;
    width:100%;
    background: #FF9900;
}
.ck_merch_footer button{
    background:#666;
    padding:0.3733rem;
    font-size:0.48rem;
    border:0;
}
.ck_merch_footer button.btn_1{
    width:32%;
    color:#9e9e9e;
    background: #fff;
}
.ck_merch_footer button.btn_2{
    width:65%;
    color:#fff;
    background: #FF9900;
}
/* 弹窗 */
.popup_set{
    width:90%;
    position:fixed;
    margin:0px auto;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    z-index:101;
    background:#fff;
    border-radius:0.4rem;
    box-sizing: border-box;
    display: none;
}
@keyframes zoomIn2 {
    from {
        opacity: 0;
        transform: scale3d(0, 0, 0);
    }
    50% {
        opacity: 1;
    }
}
.popup_set.main {
    animation: zoomIn2 0.3s;
    display: flex;
    flex-wrap: wrap;
    opacity: 1;
}
.popup_set .title{
    font-size:0.48rem;
    font-weight: bold;
    color:#000;
    margin-left: 0.2667rem;
    padding:0.4rem 0 0.2667rem;
}
.popup_set .bottom_tab{
    width: 100%;
    position: relative;
    bottom:0;
    border-top:0.0267rem solid #d9d9d9;
}
.popup_set .cancel,
.popup_set .ok{
    display: inline-block;
    width: 48%;
    box-sizing: border-box;
    padding:0.4267rem;
    text-align: center;
    font-size:0.4267rem;
}
.popup_set .cancel{
    border-right:0.0267rem solid #d9d9d9;
}
.popup_set .ok{
    color:#3cc51f;
}
.popup_set .content{
    padding:0 0.2667rem;
}
.popup_set .content p{
    padding:0.2667rem 0 0.2667rem;
    font-size: 0.3733rem;
}
.popup_set .content input[type="text"],
.popup_set .content input[type="tel"]{
    width: 92%;
    padding:0.2667rem;
    font-size: 0.4267rem;
    border: 0.0267rem solid #9e9e9e;
}
.popup_set .content .def_bg{
    background: #CCCCCC;
}
.popup_set .content .model_one,
.popup_set .content .model_two{
    display: inline-block;
    width: 49%;
    padding:0.2667rem 0;
    border:0;
    color:#fff;
    text-align: center;
}
.popup_set .content .yellow_bg{
    background: #FF9900;
}
.popup_set .content .fb_mod {
    margin: 0.2133rem 0;
    border: 0.0267rem solid #9e9e9e;
}
.popup_set .content .fb_mod .reduce,
.popup_set .content .fb_mod .add{
    width: 10%;
    padding:0.2667rem;
}
.popup_set .content .fb_mod .reduce{
    border-right:0.0267rem solid #9e9e9e;
}
.popup_set .content .fb_mod .add{
    border-left:0.0267rem solid #9e9e9e;
}
.popup_set .content .cont_tit{
    font-size: 0.4267rem;
    padding-right: 0.2133rem;
}
/* .popup_set .content .weui-check__label{
    position: relative;
    padding-right:0.8rem;
}
.popup_set .content .weui-check__label .day{
    font-size: 0.3733rem;
    position: absolute;
    top:-0.2667rem;
    width: 1.3333rem;
}
.popup_set .weui-cells_checkbox .weui-cell__hd{
    padding:0;
} */
.popup_set .weui-cells_checkbox .weui-icon-checked:before{
    font-size:0.48rem;
}
.popup_set .content img{
    width: 1.3333rem;
}
.popup_set .content .checked_img{
    display: inline-block;
    padding:0.1333rem;
    border-radius: 0.1333rem;
    margin-right: 0.2667rem;
}
.popup_set .content .checked_img.is_check{
    border:0.0533rem solid #ff0000;
}
/* 生成分享设置 */
.hb_canvas{
    /* background: url('../../img/bg.jpg') no-repeat 100% 100%; */
    /* padding:0.2667rem 0; */
    margin-bottom: 60px;
}
.hb_canvas .tit_top{
    width: 96%;
    margin:0 0 0.2667rem;
    position: relative;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    height: 1.6rem;
}
.hb_canvas .tit_top img{
    width: 1.4rem;
    height: 1.4rem;
    position: absolute;
    top:0;
    right:0.1rem;
    border-radius: 50%;
    margin-top: 0.1rem;
}
.hb_canvas .tit_top p{
    padding:0.1334rem 0.2667rem;
}
.hb_canvas .tit_top p:first-child{
    font-size:0.5333rem;
    font-weight: bold;
    color:#000;
}
.hb_canvas .tit_top p:nth-child(2){
    font-size:0.4rem;
}

.hb_canvas table{
    width: 96%;
    border-spacing: 0;
    margin: auto;
    /* border-radius: 0.2667rem; */
    color: #000;
}
.hb_canvas table th{
    color:#fff;
    /* background: #ff0000; */
    border:0;
    padding:0.08rem 0;
    /* border-right:1px solid #ff0000;
    border-left:1px solid #ff0000; */
}
.hb_canvas table th:FIRST-CHILD{
    border-left: 0;
}
.hb_canvas table th:LAST-CHILD{
    border-right:0;
}
.hb_canvas table thead tr th:first-child{
    border-top-left-radius: 0.2667rem;
}
.hb_canvas table thead tr th:last-child{
    border-top-right-radius: 0.2667rem;
}
.hb_canvas table td{
    /* color:#000; */
    padding:0.1333rem 0;
    border-right:1px solid #d9d9d9;
    border-bottom:1px solid #d9d9d9;
}
/* .hb_canvas table td:FIRST-CHILD{
	border-bottom: 0;
}*/
/* .hb_canvas table td:LAST-CHILD{
	border-right: 0;
}  */
.hb_canvas table td:FIRST-CHILD{
    border-left: 1px solid #d9d9d9;
}
.hb_canvas table .win td{
    color:#fff;
    /* background: #ff0000; */
}
.hb_canvas table .now td{
    padding:0.2667rem 0;
    font-weight: bold;
    color:#000;
}
.hb_canvas .tit_bot{
    width: 96%;
    margin:0.2667rem auto 0;
    box-sizing: border-box;
    padding:0.2667rem;
    border-radius: 0.2667rem;
}
.hb_canvas .tit_bot .weui-flex__item p{
    font-size: 0.64rem;
    /*  font-weight: bold; */
    color:#000;
    padding:0.1333rem 0;
}



/* 新加样式 ==============================================================================================================================*/
/* 待打票 */
.text_right{
    text-align: right;
}
.ddp_top .weui-flex__item{
    padding:0.1333rem 0.2667rem;
    font-size: 0.4267rem;
}
.ddp_content{
    margin-top:0.2667rem;
}
.ddp_content .top,
.ddp_content .mid{
    padding:0.0333rem 0.2667rem;
}
.ddp_content .money{
    color:#FF9900;
}
.ddp_content .mid{
    background: #f2f2f2;
}
.ddp_content .win{
    font-size:0.4267rem;
    font-weight: bold;
    padding:0.2667rem 0;
    text-align: center;
    color: #000;
}
.ddp_fot{
    margin-top:0.2667rem;
    padding:0.1333rem 0.2667rem;
}
.ddp_fot p{
    padding:0.08rem 0;
}
.ddp_fot_btn{
    position: fixed;
    bottom:0;
    left: 0;
    width: 100%;
    background:#fff;
}
.ddp_fot_btn .qddp{
    width: 50%;
    padding:0.4rem 0;
    background: #FF9900;
    color:#fff;
}
.ddp_fot_btn .weui-flex__item{
    box-sizing: border-box;
    padding:15px;
}
.popup_set .content input[type="text"].input_ret{
    width: 50%;
    padding:0;
}
.popup_set .content .name_s{
    /* display: inline-block; */
    width: 30%;
    text-align: right;
    padding-right:0.2667rem;
    font-weight: bold;
}
/* 拆单详情 */
.ddp_content_top{
    padding:0.2133rem 0.2667rem;
}
.ddp_content{
    margin-top:0.2667rem;
    border-bottom:1px solid #eee;
}
.ddp_content .top,
.ddp_content .mid{
    padding:0.1333rem 0.2667rem;
}
.ddp_content .money{
    color:#FF9900;
}
.ddp_content .mid{
    /* background: #E5E5E5; */
    background: #FF9900;
    color: #fff;
}
.ddp_content .win{
    font-size:0.4267rem;
    font-weight: bold;
    padding:0.2667rem 0;
    text-align: center;
}
.cdxq_cont{
    margin:0 0 0.5333rem 0;
}
.cdxq_cont table{
    width: 100%;
    border-spacing: 0;
}
.cdxq_cont table td{
    text-align: center;
    padding:0.1333rem 0;
    border-right:0.0267rem solid #ccc;
    border-top:0.0267rem solid #ccc;
}
.cdxq_cont table tr:nth-child(even){
    background: #ececec;
}
.cdxq_cont table tr:last-child td{
    border-bottom:0.0267rem solid #ccc;
}
.cdxq_cont td.red_color{
    color:#ff0000;
}
.cdxq_cont .just_content{
    display:flex;
    justify-content:center;
    align-items:center;
}
.cdxq_cont .just_content>span:first-child{
    display: inline-block;
    width: 38%;
    text-align: right;
    padding-right:10%;
}
.cdxq_cont .just_content>span:last-child{
    text-align: left;
}
.cdxq_cont .cont_s{
    display: inline-block;
    width:2.6667rem;
    padding:0.08rem 0;
}
/* 方案详情 */
.pro_content .top .weui-flex__item i{
    display: inline-block;
    padding:0.2667rem 0 0.1333rem 0;
}
.pro_content_details .cont_li .win{
    color:#ff0000;
}
.pro_content_details .cha_detail{
    padding:10px;
    border-top:1px solid #d9d9d9;
}
.pro_content_details .cha_detail .font_bule{
    color:#03a9f4;
}
.pro_content_details .cha_detail .font_bule i:before {
    border-color:#03a9f4;
}




/* 客户充值 */
.recharge_content ul li{
    border-bottom:0.0267rem solid #e5e5e5;
    padding:0.2133rem;
}
.recharge_content .li_img,
.recharge_content .li_cont{
    float:left;
}
.recharge_content .li_img{
    vertical-align: middle;
    width: 18%;
    text-align: center;
    height: 100%;
    margin-top:0.08rem;
}
.recharge_content .li_img img{
    width:1.2rem;
    border:0.0267rem solid #ccc;
    border-radius:50%;
}
.recharge_content .li_btn{
    float:right;
    margin-top:0.2667rem;
    margin-right:0.3733rem;
}
.recharge_content .li_cont .name{
    font-size: 0.3733rem;
    font-weight: bold;
    padding:0.08rem;
}
.recharge_content .li_cont .money{
    font-size: 0.3733rem;
    padding:0.08rem;
}
.recharge_content .li_btn button{
    width: 1.4667rem;
    height:0.8rem;
    line-height:0.8rem;
    background:#FF9900;
    color:#fff;
    border:0;
    border-radius:0.1333rem;
}
.recharge_content .li_btn button.gray{
    background: #b2b2b2;
}
.recharge_content .li_icon{
    margin-top:0.4rem;
}
.recharge_mid{
    margin-top:8px;
}
.recharge_mid .top{
    padding:0.2133rem;
    border-bottom: 0.0267rem solid #d9d9d9;
}
.recharge_mid .bot{
    padding:0.2133rem;
    align-items: center;
}
.recharge_mid .bot .cl{
    width: 1.8667rem;
    text-align: center;
}
.recharge_mid .bot .cl button{
    padding:5px;
    background: #ff0000;
    color:#fff;
    border:0;
    border-radius: 0.1333rem;
}
.recharge_mid .bot .font_black{
    padding:0.08rem 0;
}
.recharge_line{
    padding:0.1333rem 0;
}
.recharge_line span{
    display: inline-block;
    width: 20%;
    height: 1px;
    border-bottom:1px solid #d9d9d9;
    position: relative;
    bottom: 0.1333rem;
}
/* 预存 */
.prestorage_top{
    margin-top:0.2133rem;
    padding:0.2667rem;
    position: relative;
}
.prestorage_top p{
    padding:3px 0;
}
.prestorage_top .tel{
    width: 0.48rem;
    margin-left:10px;
}
.prestorage_top .dun{
    position: absolute;
    top:0.5333rem;
    right:0.5333rem;
}
.prestorage_mid{
    margin-top:0.2133rem;
    padding:0.2667rem;
}
.prestorage_bot{
    margin-top:0.2133rem;
    padding:0.2667rem;

}
.prestorage_bot .tit{
    margin-bottom: 0.2667rem;
    display: flex;
    align-items: center;
}
.prestorage_bot .tit span{
    padding-left:0.2667rem;
}
.prestorage_bot .btn_ul li{
    display: inline-block;
    width: 30%;
    color:#FFA310;
    border:1px solid #FFA310;
    text-align: center;
    margin:0 0 0.2667rem 1% ;
    padding:0.1333rem 0;
    border-radius: 0.8rem;
}
.prestorage_bot .btn_ul li.active{
    background-color: #FFA310;
    color:#fff;
}
.prestorage_bot .btn_ok{
    width:90%;
    padding:0.2667rem 0;
    background: #FFA310;
    color:#fff;
    border:0;
    border-radius: 0.8rem;
    margin-top:0.2667rem;
}
.prestorage_center{
    padding:1.3333rem 10px;
}
.prestorage_center .ts{
    margin-top:20px;
}
.prestorage_btn{
    padding:0.8rem 0 1.6rem 0;
}
.prestorage_btn span{
    padding:10px 30px;
    border: 1px solid #2AA515;
    color:#2AA515;
    border-radius: 30px;
}
.prestorage_btn span.checked{
    background: #2AA515;
    color:#fff;
}
.prestorage_tit{
    padding:10px 20px;
}
/* 清账 */
.accounts_top{
    padding:0.2667rem;
    margin:0.2667rem 0;
}
.accounts_mid{
    padding:0.2667rem 0.2667rem;
    align-items: center;
}
.accounts_mid input{
    width: 2.6667rem;
    height: 0.8rem;
    border:0;
}
.accounts_bot{
    margin-top:0.2667rem;
}
.accounts_bot .weui-flex{
    padding:0.2667rem;
    align-items: center;
}
.accounts_bot .weui-flex__item{
    padding-left: 0.2667rem;
}
.accounts_bot .weui-flex__item em{
    margin-left:0.2667rem;
    color:#0099FF;
}
.accounts_btn{
    background: #FF9900;
    color:#fff;
    width: 80%;
    margin:20px auto;
    text-align: center;
    padding:0.4rem;
    border-radius: 0.2133rem;
}
.accounts_tit{
    padding:0.2667rem;
}
.accounts_tit em{
    color:#0099FF;
}




/* 设置 */
.cz_set .tit{
    padding:8px;
    color:#000;
}
.cz_set .top{
    padding:0.4rem;
    align-items: center;
}
.cz_set .weui-flex__item{
    margin-left:0.2667rem;
}
.cz_set .s_btn{
    padding:0.16rem 0.5333rem;
    background:#0099FF;
    color:#fff;
    border-radius:0.16rem;
}
.cz_set .list{
    padding:0.2667rem;
    align-items: center;
    border-bottom:1px solid #d9d9d9;
}
.cz_set .list .tel{
    width: 1.8667rem;
    color:#000;
}
.cz_set .list input{
    height: 0.8rem;
    border:0;
}
.setcharge_top{
    padding:0.5333rem;
    align-items: center;
    margin:10px auto;
}
.setcharge_top .img_s{
    width: 50px;
    border-radius:50%;
    margin-right:0.5333rem;
}
.setcharge_mid{
    padding:0.4rem;
}
.setcharge_mid .tit{
    font-size:0.8533rem;
    font-weight: bold;
    color:#000;
    margin:0.2667rem 0;
}
.setcharge_btn{
    padding:0.8rem 0 0.8rem 0;
}
.setcharge_btn span{
    padding:0.2667rem 1.0667rem;
    border: 1px solid #FFA310;
    color:#FFA310;
    border-radius: 0.8rem;
}
.setcharge_btn span.checked{
    background: #FFA310;
    color:#fff;
}
.setcharge_mid .tit_copy{
    font-size:0.5867rem;
    margin-bottom:0.5333rem;
}
.setcharge_top_st{
    padding:15px;
    align-items: center;
    margin:10px auto 0;
}
.setcharge_top_st .img_s{
    margin-right:19.9988px;
}
.setcharge_top_st .weui-flex__item p{
    padding:4px;
}
.setcharge_top_st .weui-flex__item p em{
    font-weight: bold;
    color:#000;
}
.setcharge_btn_st{
    padding-bottom:0.2667rem;
}
.setcharge_btn_st span{
    display: inline-block;
    padding:0.2133rem 1.6rem;
    border: 1px solid #FFA310;
    color:#FFA310;
    border-radius: 0.8rem;
}
.setcharge_btn_st span.checked{
    background: #FFA310;
    color:#fff;
}
.setcharge_btn_foot{
    background: #FFA310;
    text-align: center;
    padding:0.5333rem 0;
    color:#fff;
}
.setcharge_pop input{
    height: 38px;
    width: 100%;
    margin-top:10px;
    border:1px solid #d9d9d9;
    padding-left:10px;
    box-sizing: border-box;
}
.setcharge_pop .upload{
    padding:10px 0;
    text-align: center;
}
.setcharge_pop .upload span{
    display: inline-block;
    width: 90%;
    padding:10px 0;
    background: #2697EB;
    border-radius: 30px;
    color:#fff;
    font-size:16px;
}