/* html{
    font-size: 625%;
} */
@media screen and (min-width: 320px) {
    html {font-size: 14px;}
}
@media screen and (min-width: 360px) {
    html {font-size: 16px;}
}
@media screen and (min-width: 400px) {
    html {font-size: 18px;}
}
@media screen and (min-width: 440px) {
    html {font-size: 20px;}
}
@media screen and (min-width: 480px) {
    html {font-size: 22px;}
}
@media screen and (min-width: 640px) {
    html {font-size: 28px;}
}
body,h1,h2,h3,h4,h5,h5,p,ul,ol,dl,dd,pre{
    margin:0;
    padding:0;
}
img{
    vertical-align:bottom;
}
i{
    font-style: inherit;
}
body{
    margin:0;
    font:14px "微软雅黑",Arial,Helvetica,sans-serif;
    color:#000;
    background-color:rgb(246, 246, 246);
    -webkit-text-size-adjust: 100%!important;

}
a{
    color:#808080;
    text-decoration:none;
}
a:hover{
    color:#333;
}
.clear-float:after{
    content:"";
    display:block;
    clear:both;
}
.clear-height{
    content:"";
    display:table;
}
li{
    list-style:none;
}
.main{
    width:60%;
    margin:0 auto;
    background:#ffffff;
}
.main-line{
    width:60%;
    margin:0 auto;
}
.text-center{
    text-align:center;
}
.text-left{
    text-align:left;
}
.text-right{
    text-align:right;
}
.black-font{
    color:#000;
    margin-top:5px;
}
/*重定义样式*/
.weui-mask.weui-mask--visible {
    opacity: 0.4;
}
.tabbar-bg a .weui-tabbar__label{
    color:#888;
}
.weui-cell .weui-vcode-btn{
    color:#576b95;
}
.weui-cells .weui-cell .weui-input{
    color:#b2b2b2;
}

.weui-cells .weui-cell input::-webkit-input-placeholder{
    color:#b2b2b2;
}
.weui-cells .weui-cell input::-moz-placeholder{   /* Mozilla Firefox 19+ */
    color:#b2b2b2;
}
.weui-cells .weui-cell input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
    color:#b2b2b2;
}
.weui-cells .weui-cell input:-ms-input-placeholder{  /* Internet Explorer 10-11 */
    color:#b2b2b2;
}
.weui-cell:before{
    border-top:0;
}
.weui-cell {
    /* border-top:1px solid #e5e5e5; */
    border-bottom:1px solid #e5e5e5;
}
.reg-position{
    position: relative;
}

.reg-position .weui-cell_access .weui-cell__ft{
    position: absolute;
    right:20px;
}

/*index*/
.header img{
    width:100%;
    position: absolute;
    margin-top: -16%;
}
.container-index{
    margin-bottom:50px ;
}
.container-index .tit{
    font-size: 16px;
    font-weight: bold;
    padding:10px 10px;
    color:#000;
}
.con-tit-sub{
    width:100%;
}
.con-tit-sub li{
    float:left;
}
.con-tit-sub>li:first-child{
    width:35%;
}
.con-tit-sub>li:last-child{
    width:65%;
}
.con-tit-sub2 li{
    float:left;
}
.con-tit-sub2>li:first-child{
    width:21%;
}
.con-tit-sub2>li:last-child{
    width:78%;
    border-left:1px solid #fff;
}
.box-img{
    width:45px;
    height: 45px;
    margin:auto;
}
.box-img .icon-dlt1 {
    background-position: 0 -270px;
}
.box-img .icon-dlt2 {
    background-position: 0 -45px;
}
.box-img .icon-dlt3 {
    background-position: 0 -90px;
}
.box-img .icon-dlt4 {
    background-position: 0 -135px;
}
.icon {
    background: url(../images/icon2.png) 0 0 no-repeat;
    background-size: cover;
    width: 45px;
    height: 45px;
}
.tit-font{
    font-size:14px;
    font-weight:bold;
    color:#000;
}
.circle{
    width: 20px;
    height: 20px;
    line-height:20px;
    background-color: #a179f7;
    border-radius: 100%;
    display: inline-block;
    color: #FFFFFF;
    margin-right: 5px;
    text-align: center;
}
.num-box .last{
    background-color: #3A00B6;
}
.team-box{
    color:#fff;
    margin-top:3px;
}
.team-box ul{
    background-color: #3A00B6;
    margin-top:1px;
}
.team-time{
    padding:5px 0;
    text-align: center;
}
.team-tit{
    padding-top:5px;
}
.team-tit span{
    float:left;
    width:40%;
    text-align: center;
}
.team-tit span:first-child{

}
.team-tit span:nth-child(2){
    width:20%;
}
.container-index .near-team{
    font-size: 16px;
    color:#000;
    font-weight: bold;
    padding:10px;
    text-align:center;
}
.game-cont{
    padding:0 5%;
}
.game-cont .game-time{
    padding:0 0 10px 5%;
}
.game-cont-time img{
    width:45px;
    border:3px solid #3A00B6;
    border-radius:50%;
}
.game-cont-time .weui-flex__item:nth-child{
    width:45%;
}
.game-cont-time .weui-flex__item:nth-child(2){
    width:10%;
    line-height:45px;
    font-size:14px;
}
.game-cont .peilv{
    padding:8px 0;
    width:90%;
    margin:auto;
    margin-top:15px;
    border:1px solid #3A00B6;
    border-radius: 3px;
}
.yer-game .yer-tit{
    font-size: 16px;
    color:#000;
    font-weight: bold;
    padding:10px;
    text-align:center;
}
.yer-con p{
    padding-left:5%;
}
.yer-con .yer-left,
.yer-con .yer-right{
    float:left;
}
.yer-con .yer-left{
    width:70%;
}
.yer-con .yer-right{
    width:30%;
}
.yer-left .yer-top .yer-top-left,
.yer-left .yer-top .yer-top-right{
    display:inline-block;
}
.yer-left .yer-top .yer-top-left{
    margin-right:2%;
}
.yer-top .cold{
    display:inline-block;
    color:#fff;
    background-color: #00bfff;
    width:20px;
    height:20px;
    text-align: center;
    line-height:20px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;:
}
.yer-top .hot{
    display:inline-block;
    color:#fff;
    background-color: #ff0000;
    width:20px;
    height:20px;
    text-align: center;
    line-height:20px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;:
}
.yer-mid{
    margin-top:5px ;
    margin-bottom:5px ;
}
.yer-mid .y-col{
    display: inline-block;
    background-color: #3A00B6;
    color: #FFFFFF;
    -webkit-transform: skew(-25deg, 0);
    transform: skew(-25deg, 0);
    padding: 2px 10px;
}
.yer-tit-font{
    margin-top:5px;
}
.yer-right .code-font{
    color:#000;
    font-weight: bold;
}
.yer-right img{
    width:100px;
    margin-top:5px;
}
.footer-con{
    width:100%;
    height:50px;
    position: fixed;
    left:0;
    bottom: -1px;
    /*  background-color: #888; */
    color:#fff;
}
.footer-con span{
    display: inline-block;
    width:50%;
    float:left;
    line-height: 50px;
    text-align: center;
    font-size:16px;
}
.footer-con span:first-child{
    /*   border-right:2px solid #fff; */
}

/*my-pager*/
.container-pager img{
    width:100%;
}
.container-pager-top-img {
    margin-bottom:10px ;
}
.container-pager-jt {
    box-sizing: border-box;
    position:relative;
    width:90%;
    background-color: #ddd;
    border-radius: 10px;
    margin:10px 5%;
    height: 250px;
    overflow: hidden;
}
.container-pager-jt img{
    border-radius: 10px;
    /* height: 250px; */
}
.container-pager-jt .container-pager-bottom{
    position:absolute;
    bottom:0px;
    width:100%;
    height:36px;
    line-height: 36px;
    background-color: #000;
    font-size: 17px;
    text-align:center;
    color:#fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    opacity:0.8;
}
.weui-cell .weui-cell-font{
    padding-right:50px;
}
.container-zsm .where-zsm{
    text-align: right;
    padding:5px 0;
}
.container-zsm .where-zsm a{
    margin-right: 10px;
    color:#576b95;
}
.weui-btn-zdy{
    margin: 10px 5%;
    color:#fff;
}
.container-zsm2{
    background-color: #fff;
    padding:10px 0 30px;
}
.container-zsm2 .ddsc-img{
    text-align: center;
    margin-top: 30px;
}
.container-zsm2 .ddsc-font{
    font-size: 20px;
    text-align: center;
    color:#000;
    margin-top:10px;
}
.container-zsm2 .ddsc-font2{
    font-size: 16px;
    text-align: center;
    /*width:60%;*/
    margin:10px auto 0;
}
.container-zsm3{
    width:90%;
    background-color: #fff;
    margin:10px auto 10px;
}
.container-zsm3 .text-center{
    position: relative;
}
.container-zsm3 .zsm3-tit{
    position: absolute;
    bottom:24%;
    width:90%;
    box-sizing: border-box;
    margin-left:5%;
    color:#000;
    height: 10%;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    background-color: #fff;
}
.container-zsm3 .weui-cn-tit{
    position: absolute;
    bottom:1%;
    width:100%;
    text-align: center;
    color:#fff;
    height: 9%;
    font-size: 12px;
    background-color: #E0B741;
}
.container-zsm3 img{
    width:100%;
}
.weui-cn-ye{
    padding:5px 5% 5px 5px;
    text-align:right;
}
.weui-cn-ye a{
    color: #576b95;
}
.weui-cn-footer{
    width:100%;
    position: fixed;
    bottom: -1px;
    line-height: 50px;
    text-align: center;
    font-size: 18px;
    background-color: #ff9900;
    color: #fff;
    opacity: 0.8;

}
/*首页*/
.box-content{
    width:90%;
    margin:10px auto;
    border-radius: 15px;
    padding:20px 10px;
    /* background-color: #ff9900; */
}
.box-content-new-img{
    background:#ddd url(../img/new.png) no-repeat top right;
}
.box-content .box-content-left{
    float:left;
    width:75%;
    margin-top: -5px;
}
.box-content .box-content-right{
    float:left;
    width:25%;
    text-align: center;
}
.box-content-right img{
    width:60px;
}
.box-content-left .content-hb{
    font-size: 20px;
    color: #fff;
    margin: 5px 0 0 10px;
    font-weight: bold;
}
.box-content-left .content-cm{
    margin-left:10px;
    color: #fff;
}
.tabbar-bg{
    background-color:#fff;
    position: fixed;
    bottom:0;
}
.tabbar-bg .tab-toggle .weui-tabbar__label{
    color:#ff9900;
}

/*个人中心*/
#weuitab{
    background-color:rgb(246, 246, 246);
}
.personal-center-top{
    width:95%;
    margin:10px auto 10px;
    background-color: #fff;
    position: relative;
    padding:10px 0 10px 0;
    border-radius: 8px;
}
.personal-center-top .normal-vip{
    display: inline-block;
    position: absolute;
    top:0;
    right:0;
    width:70px;
    height:22px;
    line-height: 20px;
    text-align: center;
    color:#fff;
    background-color: #ff9900;
    border-radius: 10px;
}
.personal-center-top .auter-left img{
    width:50px;
    border-radius: 50%;
}
.personal-center-top .auter-left{
    float:left;
    text-align: center;
    padding:0 10px;
}
.personal-center-top .auter-right{
    float:left;
    padding-left:10px;
}
.personal-center-top .auter-right img{
    width:24px;
}
.personal-center-top .user-name{
    color:#000;
    font-size: 18px;
    font-weight: bold;
}
.personal-center-top .auter-right .vip-time{
    width:100%;
    margin-top: 2px;
    color: #888;
}
.personal-center-top .auter-right .vip-time .vip-jump{
    position: absolute;
    bottom:11px;
    right: 5%;
}
.personal-center-top .auter-right .vip-time .vip-jump a{
    color:#00bfff;
}
.weui-cells .font-middle-zdy{
    /*margin-right:80px;*/
}
.weui-cells .font-check{
    /*margin-right:30px;*/
}
.weui-cells .font-middle-zdy-check{
    color:#b2b2b2;
}
.owner-reg{
    padding:5px 15px 15px 15px;;
    font-size: 16px;
    color:#576b95;
}
/*找到合买码*/
.find-hmm{
    background-color: #fff;
}
.find-hmm p{
    padding:10px;
    font-size: 16px;
    color:#000;
}
.find-hmm img{
    width:100%;
}
.find-hmm .find-hmm-img{
    padding: 0 5%;
}
/*我的物料*/
.container-wdwl-box{
    padding:5%;
    position: relative;
}
.container-wdwl-box img{
    border-radius:10px;
}
.container-wdwl-box .wdwl-box-bottom{
    position: absolute;
    bottom: 5%;
    width:90%;
    height:40px;
    line-height: 40px;
    background-color: #000;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    opacity:0.8;
}
.container-wdwl-box .wdwl-box-bottom span:first-child{
    display: inline-block;
    width: 50%;
    padding-left:10px;
    text-align: left;
    color:#fff;
}
.container-wdwl-box .wdwl-box-bottom span:last-child{
    display: inline-block;
    padding-right:10px;
    width: 40%;
    text-align: right;
    color: #888;
}
.container-wdwl-box .wdwl-box-bottom span:last-child a{
    color:#ff9900;
}
.container-wdwl2-box img{
    width:100%;
}
.container-wdwl2-tit {
    padding:5px 5%;
    color: #888;
    font-weight: bold;
}
.container-wdwl2-con{
    padding:5px 5%;
    background-color:#fff;
    /*  border-top:1px solid #ccc; */
}
.container-wdwl2-con img{
    width:25px;
    vertical-align: middle;
}
.container-wdwl2-con span:first-child{
    display: inline-block;
    width:8%;
}
.container-wdwl2-con span:last-child{
    display: inline-block;
    width: 90%;
}
.container-wdwl2-footer{
    position: fixed;
    width:100%;
    bottom:0;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 16px;
}
.container-wdwl2-footer-left{
    background-color: #ff9900;
    color:#fff;
}
.container-wdwl2-footer i{
    color:#000;
}
/*素材广场*/
.scgc-content{

}
.scgc-content-img{
    width:100%;
    padding-top:10px;
}
.scgc-content-img li{
    float:left;
    width: 33.33%;
    padding:5px;
    box-sizing: border-box;
}
.scgc-content img{
    width:100%;
}
.scgc-footer{
    position: fixed;
    width:100%;
    bottom:0;
    background-color: #fff;
}
.scgc-footer .my-jl{
    padding:0px 10px 10px 10px;
    color:#576b95;
    text-align: right;
}
.sc-content .left{
    position: fixed;
    left:5%;
    top:42%;
    background-color: #000;
    width:48px;
    border-radius: 50%;
    opacity:0.8;
}
.sc-content .right{
    position: fixed;
    right:5%;
    top:42%;
    background-color: #000;
    width:48px;
    border-radius: 50%;
    opacity:0.8;
}
.sc-content-footer{
    position: fixed;
    width:100%;
    bottom:0;
    height:50px;
    line-height:50px;
    text-align: center;
    color:#fff;
    background-color: #ff9900;
    font-size: 18px;
}
/*会员续费*/
.vip-renew{
    background-color: #fff;
    padding:10px 0 5px;
}
.vip-renew .vip-renew-left{
    padding:5px;
    border-radius: 10px;
    border: 1px solid #ddd;
    width:80%;
    margin: 5px auto;
}
.vip-renew .vip-check{
    border: 2px solid #00bfff;
}
.vip-renew .vip-tit{
    font-size:14px;
    color:#000;
    font-weight: bold;
}
.vip-renew img{
    width:25px;
}
.vip-renew .vip-tit2{
    padding-left:30px;
    margin-top: 3px;
}
.vip-renew-font{
    background-color: #fff;
    padding-left:5%;
    padding-bottom:5px;
}
.vip-renew-con{
    background-color: #fff;
    margin-top:10px;
}
.vip-renew-con tr{
    height: 60px;
}
.vip-renew-con .td-img{
    width:14%;
    text-align: center;
}
.vip-renew-con .td-font{
    font-size:14px;
}
.vip-renew-footer{
    position: fixed;
    bottom: 0;
    background-color: #fff;
    height:50px;
    line-height:50px;
    width:101%;
    z-index: 1000;
    font-size: 16px;
}
.vip-renew-footer span{
    display: inline-block;
}
.vip-renew-footer span:first-child{
    width:70%;
}
.vip-renew-footer span:last-child{
    width:28%;
    text-align: center;
    color:#fff;
    background-color: #ff9900;
}
.vip-renew-footer .add-gold{
    padding:0 8px;
    font-weight: bold;
    font-size: 14px;
}
.vip-renew-footer .details{
    position: absolute;
    right: 32%;
    color: #576b95;
}
.jf-details{
    padding:10px 5%;
    background-color: #fff;
    margin:15px 0;
}
.jf-details .now-num{
    font-size: 14px;
    font-weight: bold;
}
.jf-details span{
    display: inline-block;
}
.jf-details span:first-child{
    width:50%;
}
.jf-details span:last-child{
    width:48%;
    text-align: right;
}
.jf-details .jfmx{
    color:#576b95;
}
/*我的订单*/
.my-order{
    background-color: #fff;
}
.my-order .td-order1{
    width:70%;
}
.my-order table{
    width:100%;
    border-collapse: collapse;
}
.my-order table .tr-order{
    padding-left: 5%;
}
.my-order table td{
    padding:8px 0;
    border-bottom: 1px solid #ddd;
}
.my-order .td-order2{
    width:30%;
    font-size: 14px;
    font-weight: bold;
    color:#000;
    text-align: center;
}
.my-order .order-font{
    font-size: 14px;
    margin-top: 10px;
}
.my-order .wait{
    font-size: 14px;
    color:#666;
    font-weight: 400;
}
.owner-xyd{
    width:90%;
    margin: auto;
}
.owner-xyd textarea{
    width:100%;
    height: 200px;
    padding:0;
    margin-top: 15px;
    border: 0;
    border-radius: 10px;
    background-color: #fff;
    font-size: 16px;
    line-height: 25px;
}
.tel-kf{
    text-align: center;
    background-color: #fff;
    padding:50px 0 40px;
}
.tel-kf img{
    width: 50%;
    margin: auto;
}
.tel-kf p{
    margin-top: 10px;
}
.tel-address{
    margin-top: 10px;
    background-color: #fff;
}
.tel-address p{
    padding:5px 5%;
}

.font-check{
    color:#b2b2b2;
}
.container-pager-box-jf{
    position: relative;
}
.container-pager-box-jf .container-pager-jt{
    border: 2px solid #00bfff;
}
.container-pager-box-jf:before{
    content:url('../img/gou.png');
    position: absolute;
    top:10px;
    right:5%;
    z-index:10;
}

/* 抢先 隐藏 iframe */
body iframe {display: none;}